<a href="https://colab.research.google.com/github/rm17octo22/PYTHON/blob/main/Data_Types_in_Python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Data types in python
# primitive : int, float, Boolean ,
# Non Primitive Dtypes : string, list, tuple, Dictionaries, set | Collection of elements
# Value is data --> Data type

#### Representation of data types

In [ ]:
19.45 # Why you consider this as one number?
True # Single data being used

In [ ]:
_var = 'hello' # '' --> String
type(_var) # type

str

In [ ]:
_var = [3,4,5,'a'] # list --> []
type(_var)

list

In [ ]:
_var = (3,4,6,7, '$') # tuple --> ()
type(_var)

tuple

In [ ]:
_var = {3,4,5} # Set
type(_var)

set

In [ ]:
_var = {'a':3, 'b':4} #
type(_var)# Dict

dict

In [ ]:
# String

In [ ]:
# Single Quote
_string_var = 'hello world' # Recognised as string
type(_string_var)

str

In [ ]:
# Issue with Single Quote
_string_var = 'I'm Alok' # -->

In [ ]:
# Escape character \ --> Backward slash
_string_var = 'I\'m Alok'
_string_var

"I'm Alok"

In [ ]:
_string_var = 'I\'m Alok,I\'m learning python'
print(_string_var)

I'm Alok,I'm learning python

In [ ]:
# Double Quote
_string_var = "I'm Alok,I'm learning python"
print(_string_var)

I'm Alok,I'm learning python

In [ ]:
# issue with Double & Single Quotes
# Python tries to find the termination of single & double quotes in the same line.

In [ ]:
# Multiliner strings
_string_var = "My name is Alok
I am learning Python
at AlmaBetter."
# Issue with Single or double quote

In [ ]:
# triple quotes
_String_var = ''' My name is Alok
I am Learning Python
at AlmaBetter
'''
print(_String_var)

 My name is Alok
I am Learning Python
at AlmaBetter

In [ ]:
# Represent a string
# '' --> Single
# " " --> Double
# ''' ''' --> Triple

In [ ]:
 # Use triple quotes for multiliner strings

In [ ]:
# # Comment # Multi line comment is a hack which we use ''' '''
'''
Multiliner comment
'''
_x = 5
print(_x)

5

In [ ]:
_x = '234' # Doesn't if it is number or @... , '' , "", ''' ''' --> String
type(_x)

str

In [ ]:
# int("24")

24

In [ ]:
# int("24.5")

ValueError: invalid literal for int() with base 10: '24.5'

In [ ]:
# x = 'hello'
# y = 'world'
# a = x +y # '35'
# print(a)
# # a ==8 #

helloworld

In [ ]:
# _x = """

# abcwdc
# """"
# print(_x)

SyntaxError: unterminated string literal (detected at line 4) (<ipython-input-80-2631f8343782>, line 4)

In [ ]:
# List : []
_list_var = ['a',1,2,4,5] # 5 elements
type(_list_var)

list

In [ ]:
# Tuple : ()
_tuple_var = ('a',3,4,5,6)  # 5 elements
type(_tuple_var)

tuple

In [ ]:
# Dictionary : Key & Value Pair
# Dictionary : elements ? How many key & values pairs are there?
_dict_var = {'Student1':40, 'student2':50, 'a':70, 'b':80} # {1:2, 3:4}
# key:value --> element
# 1 element in dictionary is a pair of keys & value
# {} --> Key:value

In [ ]:
# Set : Value with curly bracket
_set_var = {2,3,4,'a'}  # 4 elements | Curly brackets

In [ ]:
# Differentiate Dictionary vs Set
# Set : only values
# Dictionary : key:value

The total number of 'e's in the list of python books is  4

#### Empty Data Type, Single Element
-- len() : No. of elements in a variable.

In [ ]:
_var = [2,3,4,5,'a'] # How many elements are here? --> 4 elements
len(_var)

5

In [ ]:
# Empty Data type : String
_var = '' # "",''''''

In [ ]:
len(_var)

0

In [ ]:
type(_var)

str

In [ ]:
# len() --> No of elements in a data types
# Inside single quote everything is an element.

In [ ]:
_var = ' ' # Space will be considered as element
len(_var)

1

In [ ]:
_var = '2,3,4,5' # How many elements are here?
len(_var)

7

In [ ]:
# String - Inside quotes everything is an element

In [ ]:
_var = '[2,3,4,5]'
len(_var)

9

In [ ]:
_var = '[2,3 ,4,5]'
len(_var)

10

In [ ]:
_var = '$% @{2,3}'
len(_var)

9

In [ ]:
# Escape character (\). not getting stored in string ,so not considered as element
_var = 'I\'m Alok'
print(_var)
len(_var)

I'm Alok

8

In [ ]:
# # Empty Data type : List
_var_list = [] # List with 0 elements
print(len(_var_list))
type(_var_list)

0

list

In [ ]:
# Elements are separated by Comma
_var_list = [2, 3, 4] # How many elements are here?
len(_var_list)

3

In [ ]:
_var_list = [3,4,5,6, 'a   '] # how many elements are here?
len(_var_list)

5

In [ ]:
_var_list = [3, 4.5 , True, 'a. ', 'ab']
len(_var_list)

5

In [ ]:
_var_list = [3, 4.5 , True, 'a. ', 'ab,', False]
len(_var_list)

6

In [ ]:
_x = 5
_y = 10

_var_list = [_x, '_y']
print(_var_list)
# variable represents the data

[5, '_y']

In [ ]:
# _y vs '_y' --> 1st is variable and 2nd is string

In [ ]:
_x = 5
_y = 10

_var_list = [_x, _y]
print(_var_list)

[5, 10]

In [ ]:
# List acts differnt from string
# String : Everything inside the quotes will be a character, including space
# List : Elements are separated by comma and space is not counted

In [ ]:
# # Empty Data type : Tuple
_var_tuple  = () #small bracket
len(_var_tuple)

0

In [ ]:
# Elements are separated by comma
_var_tuple  = (2,3,4,5 , 'a')
len(_var_tuple)

5

In [ ]:
# Single element in string, list
_var_string = 'a' # Single Element
_var_list = [2] # Single element
type(_var_list)

list

In [ ]:
# Single element in tuple : Exception || VVIP
_var_tuple = (3)
type(_var_tuple)

int

In [ ]:
(3+4) * 5 # here I am not creating the tuple rather applying operators Arithmetic

35

In [ ]:
# PEMDAS rule
4 * (5 - 6)

-4

In [ ]:
_var_tuple = (3,) #to create single element tuple put one comma after the element
type(_var_tuple)
len(_var_tuple)

1

In [ ]:
# more than 1 elements
_var_tuple = (2,3)
type(_var_tuple)

tuple

In [ ]:
_var_tuple = ('cow')
type(_var_tuple)
len(_var_tuple)

3

In [ ]:
_var_tuple = ('cow',)
type(_var_tuple)
len(_var_tuple)

1

In [ ]:
#_var_list = ['car','book','ford']

In [ ]:
# Dictionary | Key & Value pair
# Empty Dictionary
_var_dict = {}
type(_var_dict)

dict

In [ ]:
len(_var_dict)

0

In [ ]:
_var_dict = {2:'a', 5:'b'} # how many elements?
len(_var_dict) # In dict : one element is a pair of keys and values, separated by comma

2

In [ ]:
# Key and values are separated by : and each element will contain key & value both spearated by ,
# left of (Colon : ) - key
# right of (Colon : ) - value

In [ ]:
# Set -- value
# set with 0 elements
_var_set = set() # {} is reserved for dict to create emtpy datatype
type(_var_set)

set

In [ ]:
_var_set= {3,4,5}
len(_var_set)

3

In [ ]:
_var_set= {3,4,5, 5}
len(_var_set) # How ? --> We will talk about this in the next section.

3

In [ ]:
# Create an empty set
# Dict  = {} | key & value pair
# Set = set() | value

#### Restriction on Elements & Duplicate values

In [ ]:
# String
# Single Quote notation of String
# Each character will become your element.
# there is no restriction of element

In [ ]:
# String : there is no restriction in terms of what you can put inside the quotes
_var_string = '3y2hrp23r 33r3,23r3R[]()$@$$@#r23r83r3\$@!#*@#*!@Y'
# All values inside it.
# No restriction in terms of duplicate values or elements

In [ ]:
# Important Concept
# String is a collection of elements
# Indexing of each element in string or any data types starts from 0

In [ ]:
_var_string = 'abc' # 3 elements
len(_var_string)

3

In [ ]:
_var_string[0] # Python to give the element stored at index 0

'a'

In [ ]:
# Indexing -
_var_string[1]

'b'

In [ ]:
_var_string[2]

'c'

In [ ]:
# a --> variable || 'a'--> String
# [2,4,5] --> Create a data as list|| variable_name[4]--> Indexing : extract the data using the index
# (2,3,4,5)--> Create a data as tuple || name() --> name is a function | print(), type(), len()

In [ ]:
_var = [2,3,4]# --> Create a data having 2,3,4 as elements as a data type  of list
_var[2] # --> Indexing, Extract the data stored in a particular index

4

In [ ]:
_var = (2,3,4) #-Create a data having 2,3,4 as elements as a data type  of tuple
# _var() #--> I'm considring _var as funciton to use
print(_var)

(2, 3, 4)

In [ ]:
# String -->
_var_string  = 'a456'

In [ ]:
_var_string[0]

'a'

In [ ]:
type(_var_string[0])

str

In [ ]:
_var_string[1]

'4'

In [ ]:
type(_var_string[1])

str

In [ ]:
# Everything inside your string is a string

In [ ]:
# String : There is no restriction on elements, everything is accepted
# Exception : Everything will become string

In [ ]:
# list
# No restriction of elements for list | Dumpyard of data

_var_list = [1,2.3, True, 'abc', [3,4], (4,5,6),{2:3},{5,6,7}, 2.3]
# Everything is accepted inside the list , duplicates are allowed

In [ ]:
print(_var_list)

[1, 2.3, True, 'abc', [3, 4], (4, 5, 6), {2: 3}, {5, 6, 7}, 2.3]

In [ ]:
_var_list[0]

1

In [ ]:
type(_var_list[0])

int

In [ ]:
# String vs list, tuple, dict, set
# string --> Everything inside the quotes become string
# List --> Element will retain it's data types

In [ ]:
_var_list = [1]
_var_string = '1'

In [ ]:
type(_var_list[0])

int

In [ ]:
type(_var_string[0])

str

In [ ]:
# How many elements are there?
# all elements are separated by Comma

In [ ]:
# Same concept of indexing will be applied

In [ ]:
# get hello from the list

In [ ]:
# String & List is different
# String : All elements will become string
# List : All elements will retain their own data type separated by ,

In [ ]:
# String & List : No restriction of elements

In [ ]:
# tuple behaves almost similar to List
# All data types are accepted
# Same Indexing concept is applied and data types are retained
_var_tuple = (1,2.3, True, 'abc', [3,4], (4,5,6),{2:3},{5,6,7}, 2.3)
type(_var_tuple)

tuple

In [ ]:
type(_var_tuple[2])

bool

In [ ]:
# Acceptance of Duplicate values
# String , list & Tuple all three will accept duplicate/ repeated value
# No restriction on data

In [ ]:
# Dictionary | key, value
_var_dict = {1:2 , 'a':3, 4.5 : 'abc', True: 345, (45,60):[56,67], (4,5,6):{'hello':2} }
print(_var_dict)
# Key : int, float, boolean, string, tuple (accepted)| list, dict, set not accepted
# values : accepts everything

{1: 345, 'a': 3, 4.5: 'abc', (45, 60): [56, 67], (4, 5, 6): {'hello': 2}}

In [ ]:
# Restriction with Dictionary
# key : Int, Float, Boolean, String & Tuple are accepted | list, dict & set are not accepted as keys
# value : All are accepted

In [ ]:
# Duplicate values in Key
# In dictionary : Your keys must be unique |Key can't have duplicate values
# Exception :True is considered as 1, False is considered as 0

In [ ]:
_var_dict = {2:3, 4:3, 2:5}

In [ ]:
print(_var_dict)

{2: 5, 4: 3}

In [ ]:
# What if you have duplicate key? - What happens?
# --> Executed left to right | right most combination of key : value will the final

In [ ]:
_var_dict = {2:5, 4:3, 2:3, 2:7}

In [ ]:
print(_var_dict)

{2: 7, 4: 3}

In [ ]:
_var_dict[4]

3

In [ ]:
# Note for Dictionary
# 1. key : List, Dict & Set as a data not accepted
# 2. value : Accepts all
# 3. variable[key] : you extract the value | key will act as an address /index
# 4. Key must be unique otherwise last| right most key & value pair is retained.
# 5. All data will retain their data types. it will not loose like String.

In [ ]:
# Set
# Set acts similar to keys in dictionary : List, Dict & Set itself will not be accepted.

In [ ]:
_var_set = {2,3.4, True, (3,4), (5,6),(7,8)}
print(_var_set)

{True, 2, 3.4, (3, 4), (5, 6), (7, 8)}

In [ ]:
# Set doesn't accept : list, dictionary & set

In [ ]:
# Set will not accept the duplicate values | unique values

In [ ]:
_var_set = { 3, 4.5, (3,), (3), 3.0 }
len(_var_set) # how many unique data that is present? -- 3

3

In [ ]:
# Set : Your indexing doesn't work
# _set_var[0]

In [ ]:
# Note for Set:
# 1. Set will not accept : list, dict & Set
# 2. Set will only keep unique values.
# 3. Indexing not applied on Set

In [ ]:
# String, List, Tuple, Dict, Set
# Indexing : String, List, Tuple, on Dict using Keys., not applied on set
# Duplicate values accepted :
# - String, List & Tuple accept the duplicate values
# - Dict : keys must be unique but values can be repeated
# - set : Only unqiue values are accepted.
# Restriction on Data
# - String, List & tuple : No Restriction
#  - Dict : Keys will not accept list, dict & Set , values : no restriction
# -Set : will not accept list, dict & Set

#### Ordered vs Unordered

In [ ]:
# Ordered : Position + Object
# Unordered : Object

In [ ]:
# String, List, Tuple : Ordered
# Dict, Set : Unordered

In [ ]:
# string : ordered
# Position + Element will matter
'hello' == 'elloh' # False

False

In [ ]:
# List : Ordered
[1,2,3] == [2,1,3] # False

False

In [ ]:
# Tuples : Ordered
(2,1,3) ==(1,2,3) # False

False

In [ ]:
# Set : Unordered
{2,1,3} =={1,2,3} # True # Position doesn't matter | Only compare the value

True

In [ ]:
# Dictionary : Unordered
{ 'a':3, 'b':4} == {'b':4, 'a':3} # True # Position doesn't matter | Only compare the elements

True

In [ ]:
# Object is defined by Key & value pair together

In [ ]:
# Ordered Data types --> Python assigns the index (0 to ..) | string, list, tuple
# Unordered Data types --> Dictionary: you assign the index as keys , set : no index or address to values

#### Data Updation | Mutable vs Immutable

In [ ]:
# Mutable Vs Immutable
# Mutable  -- List, Set & Dictionary | Can be updated | You are writing with pencil, You can erase one specific part
# Immutable -- String, Tuple | Can't be updated | You are writing with pen, Cut it and replace with new

In [ ]:
_var_list = [3,4,6,'a']
_var_list[0] = 'b' # I have updated one value present at 0th index
print(_var_list)

['b', 4, 6, 'a']

In [ ]:
_var_str = 'hello'
_var_str[0] = 'H' # Immutable

TypeError: 'str' object does not support item assignment

In [ ]:
_var_tuple = (3,4,6,'a')
_var_tuple[0] = 'b' # Tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Dict & Set --> mutable : How do we mutate it?

In [ ]:
_string_var = 'hello' # 5 elements
_list_var = ['h','e', 'l','l', 'o']  # 5 elements
_tuple_var = ('h','e', 'l','l', 'o')  # 5 elements

In [ ]:
# Why string & tuple is created as immutable?
# to optimise the memory
# Advance concept
import sys
print(sys.getsizeof(_string_var))
print(sys.getsizeof(_list_var))
print(sys.getsizeof(_tuple_var))

54
104
80

In [ ]:
'a'>'A' # 97 > 65

True

In [ ]:
# Tasks for the next Class - Indexing & Slicing | Monday
# 1. Revise the current class
# 2. Go through the video for Indexing & Slicing
# 3. Attept Quiz & Coding Assessment after chapter 1 is over.
# 4. a vs 'a' --> Difference between these two
# 5. Set --> Mutable Data types | How do we change the data here?