<a href="https://colab.research.google.com/github/rm17octo22/PYTHON/blob/master/Indexing_%26_Slicing_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Ordered  --> (Position + Elements both matter) : String, List & Tuple
# Unordered --> Dict, Set (Elements)

In [ ]:
_set = {1,2,3,4}
_set_new = _set | {6,7}
print(_set_new) # Included : Set Operator | --> Union
# Operators class

{1, 2, 3, 4, 6, 7}

#### Indexing in Python (Positive & Negative)

In [ ]:
# Index is the address of data in the String, List & Tuple
# Key is the address of data in dict

In [ ]:
_marks = [80, 85, 90]
# What is the score of third person?
_marks[2] # Score of third person

90

In [ ]:
_marks[-1]

90

In [ ]:
# Why negative Index is important?
# Give me second element
_marks = [80, 85, 90,100,36,78, 98]
_marks[1] # Positive Index | Easy to come up with
_marks[-6] # negative Index

85

In [ ]:
# Give me second last element
print(_marks[-2]) # Negative Index | Easy to come up with
print(_marks[5]) # Positive Index

78
78

In [ ]:
# from the last : -ve index
# From the beginning : + ve Index
# Best Practice

In [ ]:
# When you have large list?
_large_list = [4,5,6,6,7,8,8,745345,36546,56,65464,8676,23245,9879,87, 98,100,150,43]

In [ ]:
# last element?
_large_list[-1] # Negative index of -1

43

In [ ]:
# List || Same will applied on String & Tuples

In [ ]:
_string = 'Data Science'
# Second last character
_string[-2]

'c'

In [ ]:
# fourth character
_string[3] # Indexing starts from 0
# .index() --> method || Inbuilt functions & methods

'a'

In [ ]:
_tuple = (9,7,6,34)
_tuple[1] # Second Element

7

In [ ]:
_tuple[-1] # last element

34

In [ ]:
# Dict & Set : Unordered
# Python will not assign the index | postive or negative

In [ ]:
alok = {'course':'Data Science', 'Intitute':'AlmaBetter'}
# Dictionary : keys & value
# alok[-1] # Not possible | Unordered | Python has not assigned the position to it.
# Assign the address Manually in form of keys
alok['course'] # Key acts as an index | which is assigned manually

'Data Science'

In [ ]:
alok['Intitute'] # Key acts as an index

'AlmaBetter'

In [ ]:
alok['Institute'] = 'AlmaBetter'
del alok['Intitute']
print(alok)

{'course': 'Data Science', 'Institute': 'AlmaBetter'}

In [ ]:
# Set | Unordered : it is meant to be unordered | No address
_set = {4,5,6,7} # Use whole set together |
# typecasting will be used to get the data if required

In [ ]:
#float(input()) --> string to float typecasting

#### Indexing on Nested List, Tuple & Dict

In [ ]:
_nested_list = [1,2,56,76,[89,70,56,90], 75, 23, "Hello World"]
# Nested List : List inside a list
# How many elements are in _nested_list variable?
len(_nested_list)

8

In [ ]:
# How do I get the data 70 out of the nested list?
_nested_list[4] # [89, 70, 56, 90]
_nested_list[4][1] # 70

70

In [ ]:
_list = [ [4,5,6], [9,10,12] ]
# Extract 12 from the _list
print(_list[1][2]) # Solution 1
print(_list[1][-1]) # Solution 2
print(_list[-1][-1]) # Solution 3
print(_list[-1][2]) # Solution 4
# Positive index starts from 0
# Negative index starts from -1

12
12
12
12

In [ ]:
_nested_list = [1,2,56,76,[89,70,56,90], 75, 23, "Hello World"]

In [ ]:
# How do I get W out of the hello World
print(_nested_list[7][6]) # Positive Index
print(_nested_list[-1][-5]) # Negative Index
print(_nested_list[-1][6]) # Negative Index
# We will count the space | 5th index

W
W
W

In [ ]:
print(_nested_list[7][5]) # Space

In [ ]:

_nested_list = [1, 2 , 56, 76,[89,70,[56,90],100], 75, 23,{'a':(8,7,6), 'c':'Data'} ,"Hello World"]
# Can we put dictionary inside a list? --> yes

In [ ]:
# 'Data' out of the _nested_list
_nested_list[-2]['c'] # _nested_list[-2][c] this is different.

'Data'

In [ ]:
# 7 out of (8,7,6)
print(_nested_list[-2]['a'][1])
print(_nested_list[-2]['a'][-2])

7
7

In [ ]:
_dict = {'a':{'b':'c'}} # Nested dictionary
print(_dict)

{'a': {'b': 'c'}}

In [ ]:
# 'c' out of _dict
_dict['a']['b']

'c'

In [ ]:
_dict = {1:1, 2:2}# No restriction as such

In [ ]:
# String : You can never have nested String (Yes or No)
_string = "abc,'def',tqr" # Every character has a position
_string[3]

','

In [ ]:
# Nested Set | Set inside a Set (No) | Restriction on list, dict, Set as a data
# _Set = {4,5,6,{7,8}}

#### Slicing on List, String, Tuple

In [ ]:
_list = [5,6,7,8,9] # [6,7,8]
# i : 1
# j : 3
# _list[i : j : k]
_list[1:3] # values present at index  1 & 2 | 3 is not included

[6, 7]

In [ ]:
# i : 1
# j : 4
_list[1 : 4 ] # Values present at index 1,2 &3 | 4 is not included

[6, 7, 8]

In [ ]:
# i = Index of the first element of the slice in the main data
# j = index of the last element of the slice in the main data + 1

In [ ]:
_list = ['a','b', 'c', 'd', 'e', 'f']
# ['c','d','e', 'f'] : Slice
_list[2:6]
# i = 2
# j =  5  + 1 = 6

['c', 'd', 'e', 'f']

In [ ]:
_list[2:5]  # Python will go one element before it: Exclusive 4

['c', 'd', 'e']

In [ ]:
_list = ['a','b', 'c', 'd', 'e', 'f']
# ['c','d','e'] : Slice
# Negative Index
# i = -4 (Start)
# j = -2 + 1 (End) = -1
_list[-4:-1]

['c', 'd', 'e']

In [ ]:
_list = ['a','b', 'c', 'd', 'e', 'f']
# ['a','b', 'c'] # Slice
# Positive Index
# i = 0
# j =  2 + 1 = 3
_list[0:3]

['a', 'b', 'c']

In [ ]:
_list = ['a','b', 'c', 'd', 'e', 'f']
# output : slice - ['d','e','f']

# Positive index
# i : 3
# j : 5 + 1= 6
_list[3:6]

['d', 'e', 'f']

In [ ]:
# Negative index (Edge Case)
# i : -3
# j : -1 + 1 = 0
_list[-3:0]

[]

In [ ]:
# Trick :
# i as blank | Start slicing from the first element | when your first element in slice is same as first element in main list
# j as blank | keep slicing till the end | When your last element of slice is same as last element in the main list

In [ ]:
_list = ['a','b', 'c', 'd', 'e', 'f']
# output : slice - ['d','e','f']
# i : -3
# j : blank | go till the end
_list[-3: ]

['d', 'e', 'f']

In [ ]:
# i : 3
# j : blank
_list[3: ]

['d', 'e', 'f']

In [ ]:
_list = ['a','b', 'c', 'd', 'e', 'f']
# output : slice - ['a','b','c','d']
# Positive Index
# i : blank or 0
# j : 3 + 1 = 4
print(_list[0:4])
print(_list[:4])

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']

In [ ]:
_list[ : ] #both i & j is blank

['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
# k : Step
_list = ['a','b', 'c', 'd', 'e', 'f', 'g']
# output = ['b', 'd', 'f'] # 1 element is skipped
# i : 1
# j : 5 + 1 = 6
# k :
_list[1:6] # if you don't put any value of k, by default it is k = 1

['b', 'c', 'd', 'e', 'f']

In [ ]:
_list[1 : 6: 1]

['b', 'c', 'd', 'e', 'f']

In [ ]:
_list[1 : 6: 2]

['b', 'd', 'f']

In [ ]:
_list = ['a','b', 'c', 'd', 'e', 'f', 'g']
# Output : ['a', 'd', 'g']
# i : blank or 0
# j : blank or 6 + 1 = 7 | (-1 + 1 = 0 : Python will get confused)
# k :
_list[0:7: 1] # Value of k ?? 1

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
_list[0:7: 3] # Value of k ?? 1

['a', 'd', 'g']

In [ ]:
_list[:: 3]

['a', 'd', 'g']

In [ ]:
# Always you will have symmetry in your pattern
# Slicing | k as step
# Looping concept | for | while loop

In [ ]:
_string_var = 'hello'
# Substring : Subpart of the string 'el'

In [ ]:
# i & j
# i : Index of Starting element of Substring 'el'
# j : Index of Last element of substring + 1
# What ever you put in the value of j : Slicing will be done till one position before it.

In [ ]:
_list_var = [4,5,6,'a','b',10]

In [ ]:
# Output Sublist = [6,'a','b']

In [ ]:
# Negative Index
# i : neg index of the starting element of sublist
# j : neg Index of the last element : -2 + 1 : -1
# Whatever value is put in J, python will get the data one position before it.

In [ ]:
_list_var = [4,5,6,'a','b',10]

In [ ]:
# Interesting rule -
# Slicing from the first element of the list/String/ Tuple, keep  i as blank
# Slicing till the last element of the list/String/ Tuple, Keep j as blank

In [ ]:
# First element of the sublist is same as the first element of the list
# i blank : By default starting from 0 index
_list_var[ : 3 ]

[4, 5, 6]

In [ ]:
#  Sublist ['a','b',10]
# last element of the sublist is same as the last element of the list
# j blank : By default it goes till the end.
_list_var[ 3 : ]

['a', 'b', 10]

In [ ]:
# Custom Values to be picked : For loop

In [ ]:
# What is K : Step

In [ ]:
_list_var = [ 4, 5, 6, 'a' , 'b' , 'c' , 10 ]

In [ ]:
# Substring
# [5,'a','c']
# i : Index of the first element
# J : Index of the last element : 5 + 1 =6
# K : Step 1 : Same Sequence without skip : elements will be printed
_list_var[1 : 6 : 2]

[5, 'a', 'c']

#### Reverse Slicing

In [ ]:
_list = [5,6,7,8,9]
# [8,7,6] --> Reverse slicing
# i : 3
# j : index of the last element - 1 : 1-1 = 0
# k : -1 (if value of k is negative , Go from right to left | reverse direction)
_list[3:0:-1]

[8, 7, 6]

In [ ]:
_list[::-1] # k = -1 { Print in the reverse direction}

[9, 8, 7, 6, 5]

In [ ]:
_string = 'hello world'
# 'worl' --> Left to right

# K determines which direction you are trying to slice
# left to right : K : +ve
# right to left : k : -ve

# 'lrow' --> right to left | Reverse direction
_string[ -2 : -6 : -1 ]
# i : Index of Starting element (-2 or 9) | Starting
# j: Index of Last element - 1 ( -5 -1 : -6) | End
# K : -ve value determines which direction to start
# K +ve : forward Direction | Left to right
# K -ve : Reverse Direction | Right to left

'lrow'

#### Update data based on indexing or Slicing

In [ ]:
_string = 'hello'
_string[0] ='H' # No
# String is immutable

TypeError: 'str' object does not support item assignment

In [ ]:
_list = ['h', 'e', 'l', 'l','o']
_list[0] = "H" # yes
# List is mutable
print(_list)

['H', 'e', 'l', 'l', 'o']

In [ ]:
_tuple = ('h', 'e', 'l', 'l','o')
_tuple[0] = "H" # yes
# List is mutable
print(_tuple)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# String & tuple : Immutable | you can;t change the data
# List : Mutable | You can change the data
# Indexing & Slicing concepts are applied on ordered data | String, List & tuple

In [ ]:
_list = [30,50, 60, 70, 90]
# Replace [50,60,70] --> ['a', 'b', 'c']
_list[ 1: 4 ] = ['a', 'b', 'c']
print(_list)

[30, 'a', 'b', 'c', 90]

In [ ]:
_list[ 1: 4 ] = ['a', 'b', 'c', 'd']
print(_list)

[30, 'a', 'b', 'c', 'd', 90]

In [ ]:
_list = [30,50, 60, 70, 90]
_list[ 1: 4 ] = ['a', 'b']
print(_list)

[30, 'a', 'b', 90]

In [ ]:
# Only list can be updated using indexing and slicing concept.

In [ ]:
# List or Dict
students = [['Alice', 25], ['Bob', 30], ['Charlie', 22]]
# Change the age of Bob from 30 to 35
students[1][1] = 35
# locate it first and then change the value

In [ ]:
students

[['Alice', 25], ['Bob', 35], ['Charlie', 22]]

In [ ]:
_student_dict = {'Alice': 25, 'Bob': 30, 'Charlie': 22}
# Change the age of Bob from 30 to 35
_student_dict['Bob'] = 35
# Locate the data

In [ ]:
_student_dict

{'Alice': 25, 'Bob': 35, 'Charlie': 22}

In [ ]:
# String , tuple : Immutable : Data Can't be changed.
# Set: Unordered : You won't be able to do the indexing.

In [ ]:
# Update data based on slicing
# Locate
_list = [5,6,7,8]
# [6,7] & ['a','b']
# Specify the place
_list[1:3] = ['a', 'b']

In [ ]:
print(_list) # Locate & Change

[5, 'a', 'b', 8]

In [ ]:
# Value : dict
_dict = {4:5, 7:8}
_dict[7] = 'a'

In [ ]:
_dict

{4: 5, 7: 'a'}

In [ ]:
# List, dict & Set --> Mutable | Dict & Set are unordered : no Indexing or slicing
# String, tuple --> Immutable

In [ ]:
# Dictionary | Update the data | Mutable
_dict = {'a':3, 'b':2, 'c':10}
# Update from 'c':10 to 'c' : 20
_dict['c'] = 20 # Data is updated here.
print(_dict)

{'a': 3, 'b': 2, 'c': 20}

In [ ]:
# _dict.update({'a':5,'b':'abc'}) # method
print(_dict)

{'a': 5, 'b': 'abc', 'c': 20}

In [ ]:
# del function to delete the key, value pair
del _dict['b'] # Key and value pair will be deleted
print(_dict)

{'a': 5, 'c': 20}

In [ ]:
del(_dict['c'])

In [ ]:
print(_dict)

{'a': 5}

In [ ]:
_dict = {'alok':80, 'xyz':90, 'abc':86}
# 'abc' :86 --> 'lmn' :86
_dict['lmn'] = 86
print(_dict)
del _dict['abc']
print(_dict)

{'alok': 80, 'xyz': 90, 'abc': 86, 'lmn': 86}
{'alok': 80, 'xyz': 90, 'lmn': 86}