<a href="https://colab.research.google.com/github/rm17octo22/PYTHON/blob/main/loops_iterations_alok_26th_sept_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Introduction to Looping Concepts

In [ ]:
# For Loops are used to iterate over a sequence (such as a list, tuple, dictionary, string, or range).
# They allow you to execute a block of code repeatedly for each element in the sequence.

# Key Concepts:

# Iteration: The process of looping through elements of a sequence.
# Loop Variable: The variable that takes the value of each element in the sequence during each iteration.
# Accumulation: Using a secondary variable to collect or accumulate results across iterations.

In [ ]:
# Basic Structure of For loop
for item in sequence:

    # Code block to execute

##### Example 1: Basic For Loop

In [ ]:

# List of numbers
numbers = [10, 20, 30, 40, 50] # Collection of elements

# Loop through each number and print it
for i in numbers :
  print(i)

10
20
30
40
50

In [ ]:
# 5 Iterations --> 5 elements in the numbers (list)
# Interation 1 : i = 10 print(i) --> 10
# Interation 2 : i = 20 print(i) --> 20
# Interation 3 : i = 30 print(i) --> 30
#  Interation 4 : i = 40 print(i) --> 40
# Interation 5 : i = 50 print(i) --> 50

In [ ]:
# Python with For
# Assign the value in i sequentially : Loop from numbers list.

In [ ]:
# List of numbers
numbers = [98, 34, 56, 40, 50, 100]

# Loop through each number and print it
for i in numbers:
  print(i)

# How many iterations will run? 6

98
34
56
40
50
100

##### Example 2: Using a Secondary Variable to Accumulate Results

In [ ]:
# List of numbers
numbers = [10, 20, 30, 40, 50]
# Sum of total elements
_total = 0 # Secondary Variable

for i in numbers:
  _total = _total + i

print(_total)

150

In [ ]:
# Iterations - 5

# Iteration 1 :
# i = 10
# _total = _total + i | _total = 0 + 10 = 10
# Iteration 2 :
# i = 20
# _total = _total + i | _total = 10 + 20 = 30

# Iteration 3 :
# i = 30
# _total = _total + i | _total = 30 + 30 = 60

# Iteration 4 :
# i = 40
# _total = _total + i | _total = 60 + 40 = 100

# Iteration 5 :
# i = 50
# _total = _total + i | _total = 100 + 50 = 150

In [ ]:
sum(numbers)

15

In [ ]:
# Counting Occurrences of an Element - 'apple'
# List of elements
elements = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
_count = 0
for i in elements:
  if i == 'apple':
    _count = _count + 1

print(_count)

3

In [ ]:
del _count

In [ ]:
# Iterations - 6

# Iteration 1 :
# i = 'apple'
# if i == 'apple': # True
#     _count = _count + 1 # _count = 0 + 1 = 1

# Iteration 2 :
# i = 'banana'
# if i == 'apple': # False
#     _count = _count + 1 # This line will not get executed

# Iteration 3 :
# i = 'apple'
# if i == 'apple': # True
#     _count = _count + 1 # _count = 1 + 1 = 2

# Iteration 4 :
# i = 'orange'
# if i == 'apple': # False
#     _count = _count + 1 # This line will not get executed


# Iteration 5 :
# i = 'banana'
# if i == 'apple': # False
#     _count = _count + 1 # This line will not get executed


# Iteration 6 :
# i = 'apple'
# if i == 'apple': # True
#     _count = _count + 1 # _count = 2 + 1 = 3

##### Example 3 : break & continue in loop

In [ ]:
# The break statement is used to exit a loop early.
numbers = [1, 2, 3, 4, 5]

for i in numbers:
  if i == 3:
    break
  print(i)

1
2

In [ ]:
# Iterations :5  | Ideally
# I1 : i = 1
# if i == 3: False
  #   break # Not executed
  # print(i) --> 1

# I2 : i = 2
# if i == 3: False
  #   break # Not executed
  # print(i) --> 2

# I3 : i = 3
# if i == 3: True
  #   break # Loop ends
  # print(i) --> Not executed

# Stopped

In [ ]:
# Using continue in a For Loop
# The continue statement skips the current iteration and moves to the next one.
numbers = [1, 2, 3, 4, 5]
for i in numbers:
    if i == 3:
        continue  # Skip the iteration when num equals 3
    print(i)

1
2
4
5

In [ ]:
# iterations : 5 |Ideally
# I1 : i = 1
# if i == 3: False
#         continue  # not getting executed
#     print(i) # Executed --> 1

# I2 : i = 2
# if i == 3: False
#         continue  # not getting executed
#     print(i) # Executed --> 2

# I3 : i = 3
# if i == 3: True
#         continue  # Will get executed.
#     print(i) # Not get executed --> Jump to next iteration

# # I4 : i = 4
# if i == 3: False
#         continue  # not getting executed
#     print(i) # Executed --> 4

# # I5 : i = 5
# if i == 3: False
#         continue  # not getting executed
#     print(i) # Executed --> 5

In [ ]:
# for i in 345:
#   print(i)

TypeError: 'int' object is not iterable

##### Example 4:
Range: Generate sequences of numbers.

Zip: Iterate over multiple sequences.

Enumerate: Get index and value.

In [ ]:
list(range(2,10)) # will 10 be included

[2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
_list1 = [23,45,67]
_list2 = [3,4,5]

list(zip(_list1, _list2))

[(23, 3), (45, 4), (67, 5)]

In [ ]:
list(enumerate(_list1))

[(0, 23), (1, 45), (2, 67)]

In [ ]:
# Using range() with For Loops
# The range() function generates a sequence of numbers,
# which is useful for iterating a specific number of times.
for i in range(2,11):
    print(i)

2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(9,3, -1):
  print(i)

9
8
7
6
5
4

In [ ]:
# Using zip() in a For Loop
# The zip() function allows you to iterate over two or more sequences simultaneously.
amount = [50, 100, 200]
dis = [85, 90, 95]

# list(zip(amount, dis)) # Index wise
# [(50, 85), (100, 90), (200, 95)] --> 3 elements

for i in zip(amount, dis):
  print(i)

#

(50, 85)
(100, 90)
(200, 95)

In [ ]:
amount = [50, 100, 200]
dis = [85, 90, 95]
_int = [45,60]

list(zip(amount,dis,_int))

[(50, 85, 45), (100, 90, 60)]

In [ ]:
# level 2 unpacking
# Special case in for loop
for i,j in zip(amount, dis):
  print(i)
  print(j)

50
85
100
90
200
95

In [ ]:
for i,j,k in [['a','b','c'], [1,2,3]]:
  print(i)
  print(j)
  print(k)

a
b
c
1
2
3

In [ ]:
for i,j,k in [['a','b','c'], [1,2]]:
  print(i)
  print(j)
  print(k)

a
b
c

ValueError: not enough values to unpack (expected 3, got 2)

In [ ]:
for i,j in [['a','b','c'], [1,2,3]]:
  print(i)
  print(j)

ValueError: too many values to unpack (expected 2)

In [ ]:
# Using enumerate() in a For Loop
# The enumerate() function adds a counter to an iterable and
# returns it in the form of an enumerate object,
# which can be useful when you need both the index and the value.

subject = ['Data Science', 'Maths', 'Python']
for i, j in enumerate(subject):
    print(f"Index {i}: {j}")

# [(0, 'Data Science'), (1, 'Maths'), (2, 'Python')]
# I1 : i = 0, j = "Data Science"
# I2 : i = 1, j = "Maths"
# I3 : i = 2, j = "Python"

Index 0: Data Science
Index 1: Maths
Index 2: Python

In [ ]:
list(enumerate(subject))

[(0, 'Data Science'), (1, 'Maths'), (2, 'Python')]

In [ ]:
subject = ['Data Science', 'Maths', 'Python']
for _index, _sub in enumerate(subject):
    print(f"Index {_index}: {_sub}")

Index 0: Data Science
Index 1: Maths
Index 2: Python

#### Practice Questions

In [ ]:
# Question 1 :
'''
Write a Python program that prints the square of each number from 1 to 10.

Hint: Use the range function to generate numbers from 1 to 10.
'''

a = int(input('Enter the lower limit:'))
b = int(input('Enter the upper limit:'))

for i in range(a, b+1):
  print(f'Square of {i} : {i**2}')

# Iterations
# i = 1 , 1**2 = 1

Enter the lower limit:679
Enter the upper limit:694
Square of 679 : 461041
Square of 680 : 462400
Square of 681 : 463761
Square of 682 : 465124
Square of 683 : 466489
Square of 684 : 467856
Square of 685 : 469225
Square of 686 : 470596
Square of 687 : 471969
Square of 688 : 473344
Square of 689 : 474721
Square of 690 : 476100
Square of 691 : 477481
Square of 692 : 478864
Square of 693 : 480249
Square of 694 : 481636

In [ ]:
# Question 2 :
'''
You have a list of numbers:

numbers = [23, 56, 32, 78, 45, 43, 10]
Write a Python program to print each number in the list followed by whether it is "Even" or "Odd".
'''
# Expected Output:

# 23 - Odd
# 56 - Even
# 32 - Even
# 78 - Even
# 45 - Odd
# 43 - Odd
# 10 - Even

numbers = [23, 56, 32, 78, 45, 43, 10]

for i in numbers:
  if i % 2 ==0:
    print(f'{i} - Even')
  else:
    print(f'{i} - Odd')

23 - Odd
56 - Even
32 - Even
78 - Even
45 - Odd
43 - Odd
10 - Even

In [ ]:
# Question 3:
'''
# Find Factor:
# Given a number (e.g., 12), find and print its factors using a for loop.
# 12 : # Factors of 12
# 1
# 2
# 3
# 4
# 6
# 12
'''

_number = int(input('Enter the number:')) # 20

for _var in range(1,_number + 1):# range(1,21) --> 1-20
  if _number % _var ==0:
    print(f'{_number} is divisible by {_var}')

Enter the number:20
20 is divisible by 1
20 is divisible by 2
20 is divisible by 4
20 is divisible by 5
20 is divisible by 10
20 is divisible by 20

In [ ]:
# Fundamentals of Logic building in For loop-
# Inputs -- values which you need an input

# Logic --
# Collection of elements on which for loop will run
# Value of i : How values are changing?- Sequentially
# What are you going to do with i?

# Output

In [ ]:
'''
sir why it is false while doing if (0.2 + 0.1 == 0.3):
print("True")
else:
print("False") ??

'''
# (0.2 + 0.1)

'\nsir why it is false while doing if (0.2 + 0.3 == 0.3):\nprint("True")\nelse:\nprint("False") ??\n\n'

In [ ]:
_tup = (1,2,3,4)
# Remove 4
_list = list(_tup)
_list.remove(4)
_tup = tuple(_list)
print(_tup)

(1, 2, 3)

In [ ]:
i = 3
print(i)

3

In [ ]:
_list = [[3,4,5,6,7,8],['a','b','c','d','e','f']]
for _rahul,_soham,_ravi,l,m,n in _list:
  print(_rahul)
  print(_soham)
  print(_ravi)
  print(l)
  print(m)
  print(n)

3
4
5
6
7
8
a
b
c
d
e
f

In [ ]:
# x = 'a'
# print(x)

a

In [ ]:
subject_name = ['Data Science', 'Maths', 'Physics']
print(list(enumerate(subject_name)))
for _index,_value in enumerate(subject_name):
  print(_index) # index
  print(_value) # Value

[(0, 'Data Science'), (1, 'Maths'), (2, 'Physics')]
0
Data Science
1
Maths
2
Physics

In [ ]:
# Question 4 :
'''
Write a Python program that iterates through a list of numbers
and accumulates the sum of all even numbers.

'''
numbers = eval(input('Enter the list:'))

_total = 0 # _sum , _agg ,

for i in numbers:
  if i % 2 ==0:
    _total += i # _total = _total + i

print(f'Sum of even numbers in {numbers} : {_total}')

Enter the list:[4,6,7,8]
Sum of even numbers in [4, 6, 7, 8] : 18

In [ ]:
# Question 5 :
'''
Calculate the sum of squares of numbers from 1 to n using a for loop.
1^2 + 2^2 + 3^2 + 4^2 + 5^2..n^2

'''

n = int(input('Enter the value of n :'))

_total = 0

for i in range(1,n+1):
  _total = _total + i **2

print(_total)


# n = 3
# range(1,4) : 1,2,3
# iteration 1 : i = 1
# _total = _total + i **2 : _total = 0 + 1 = 1

# Iteration 2 : i = 2

# _total = _total + i **2 : _total = 1 + 4 = 5

# Iteration 3 : i = 3

# _total = _total + i **2 : _total = 5 + 9 = 14

Enter the value of n :3
14

In [ ]:
# What will be the collection of element which i/_var will take in each iteration
# How do you utlise the value of i/_var in the logic of each iteration.

In [ ]:
# Question 6 :
'''
Calculate the sum of numbers from 1 to n using a for loop.
1/1^3 + 1/2^2 + 1/3^3 + 1/4^2 + 1/5^3....

Odd - cube
Even - Square
'''

n = int(input('Enter the value of n: '))

_total = 0

for i in range(1,n+1):
  if i % 2==0:
    _total = _total + 1/(i**2)
  else:
    _total = _total + 1/(i**3)

print(_total)

# n = 4
# Collection of elements - range(1,5) -- 1,2,3,4

# Iterations
# i1 : i =1
# if i % 2==0:
#     _total = _total + 1/(i**2)
#   else:
#     _total = _total + 1/(i**3)
# _total = _total + 1/(i**3) | _total = 0 + 1/(1**3) = 1

# i2 : i =2
# if i % 2==0: True
#     _total = _total + 1/(i**2)
#   else:
#     _total = _total + 1/(i**3)
#
# _total = _total + 1/(i**2) | _total = 1 + 1/(2**2) = 1+ 0.25 = 1.25

Enter the value of n: 4
1.349537037037037

In [ ]:
# Question 7 :
'''
Find the Factorial of any number
0! = 1
5! =  1 * 2 * 3 * 4 *5
1! = 1
2! = 1*2
'''

n = int(input('Enter the value of n for factorial :'))

if n >=0:
  _fact = 1

  for i in range(1,n+1):
    _fact = _fact * i

  print(_fact)
else:
  print('Enter the valid number')

Enter the value of n for factorial :0
1

In [ ]:
n = -2
list(range(1,-1))

[]

In [ ]:
# Question 8 :
'''
For any num print the total sum of digits
Input : 123  Output  1+2+3= 6
'''

n = int(input('Enter the number:'))
n_str = str(n)
_total = 0
for i in n_str:
  _total = _total + int(i)

print(_total)

Enter the number:4356
18

In [ ]:
# n = int(input('Enter the number:'))
# n_str = str(n)
# _total = 0
# for i,j in enumerate(n_str):
#   _total = _total + int(j)

# print(_total)


# n = int(input('Enter the number:'))
# n_str = str(n)
# _total = 0
# for i in enumerate(n_str): # "4356" --> [(0,'4'),(1,'3'),(2,'5'),(3,'6')] - i = (0, '4')
#   _total = _total + int(i[1])

# print(_total)

Enter the number:4356
18

In [ ]:
i = "4567"
# Each element is here has become string
i[0]

'4'

In [ ]:
# Question 9 :
'''
Write a Python program that takes an integer as input and checks whether it is a prime number.
A prime number is a number greater than 1 that has no divisors other than 1 and itself.
'''
number = int(input('Enter the number:'))

if number > 1:
  _is_prime = 'Prime'

  for i in range(2,number): # number +1
    if number % i ==0:
      _is_prime = 'Composite'
      break

  print(_is_prime)
else:
  print('Enter the number > 1')

Enter the number:0
Enter the number > 1

In [ ]:
number = int(input('Enter the number:'))

_is_prime = 'Prime'

for i in range(2,number//2+1):
  if number % i ==0:
    _is_prime = 'Composite'
    break

print(_is_prime)

Enter the number:29
Prime

In [ ]:
# Question 10 :
'''
Write a Python program that iterates through a list of items using enumerate().
If an item is out of stock (represented by None),
use the continue statement to skip printing that item. Otherwise, print the index and item name.
shopping_list = ['apples', None, 'bread', 'milk', None, 'eggs']
'''
shopping_list = ['apples', None, 'bread', 'milk', None, 'eggs']

for _index, _item in enumerate(shopping_list):
  if _item == None:
    continue
  print(f'Product {_item} is at index {_index}')

Product apples is at index 0
Product bread is at index 2
Product milk is at index 3
Product eggs is at index 5

In [ ]:
# Question 11 : Pattern questions
'''
Write a Python program to print the following pattern based on depth on n
n = 5
*
**
***
****
*****

'''

# 'a' * 2 = 'aa' --> Repeatations

n = int(input('Enter the depth of pattern:'))

for i in range(1,n+1):
  print('*' * i)

Enter the depth of pattern:10
*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
# 'a' + 2 # Error-->
'a' * 2 # + for concatenation (Str + Str) , * (Str * Int) --> repeatation

'aa'

In [ ]:
'*' * 3

'***'

In [ ]:
# Question 12:
'''
# Looping over dictionary and find the defective product
'''
ex = {'Product A': False, 'Product B': True, 'Product C': False, 'Product D': False, 'Product E': True }
# print(ex.items())
# print(list(enumerate(ex))) #
# print(list(enumerate(ex.items())))
for _prod , _defect in ex.items():
  if _defect  == True:
    print(_prod)

Product B
Product E

In [ ]:
# Question 13 :
'''
#Find the links not working from the log data
'''
log = { '/home' : 200, '/about':200, '/home/product':200, '/home/product/electronic': 404,'/home/product/fashion': 200 }

# www.almabetter.com/home

for _link,_message in log.items():
  if _message == 404:
    print(_link)

/home/product/electronic

In [ ]:
# Question 14:

# Print the longest word in the sentence

sentence = input('Enter the sentence: ')
# This is python, Very Interesting
list_of_words = sentence.split(' ')
# print(list_of_words)
_longest_word = list_of_words[0]

for i in list_of_words:
  if len(i) > len(_longest_word):
    _longest_word = i

print(_longest_word)

Enter the sentence: This is python, Very Interesting
['This', 'is', 'python,', 'Very', 'Interesting']
Interesting

In [ ]:
# Question 15:
'''
Write a program that counts the number of vowels in a given string.

Expected output

# String : 'AlmaBetter' output : 4
# String : 'Data Science' output : 5
'''

word = input('Enter the word :')

_count = 0

for i in word:
  if i.lower() in 'aeiou':
    _count = _count + 1

print(_count)

Enter the word :AlmaBetter
4

In [ ]:
# Question 16:
'''
Create a dictionary with key as unique characters in a word
and value as number of times character is repeating
Input : 'AlmaBetter' output : {'A': 1, 'a': 1, 't': 2, 'm': 1, 'e': 2, 'r': 1, 'l': 1, 'B': 1}
Input : 'Data' output : {'D': 1, 'a': 2, 't': 1}
'''
word = input('Enter the word: ') # AlmaBetter

_out = {} # Empty Dictionary

for i in word: # AlmaBetter
  _out[i] = word.count(i) # _out['A'] = 'AlmaBetter'.count('A') -> 1 : {'A':1}
  # c = word.count(i)
  # _out.update({i:c})

print(_out)

Enter the word: AlmaBetter
{'A': 1, 'l': 1, 'm': 1, 'a': 1, 'B': 1, 'e': 2, 't': 2, 'r': 1}

In [ ]:
# Empty Set
a = set() # {}--> Dictionary

In [ ]:
_dict = {'a':4, 'b':6}
# _dict['a']
_dict['c']

KeyError: 'c'

In [ ]:
_dict.get('c') # It will not throw an error.

In [ ]:
_dict

{'a': 4, 'b': 6}

In [ ]:
# Question 17:
# Provide the output as even values in the list  as input
# _list = [3,4,5,6,7,8] , output = [4,6,8]

_list = [3,4,5,6,7,8]
_out = []

for i in _list:
  if i % 2==0:
    _out.append(i)

print(_out)

[4, 6, 8]

In [ ]:
# Question 17: - Contd
# Provide the output as even values in the list  as input
# _list = [3,4,5,6,7,8] , output = (4,6,8)

_list = [3,4,5,6,7,8]
_out = []

for i in _list:
  if i % 2==0:
    _out.append(i)

print(tuple(_out))

(4, 6, 8)

In [ ]:
# Question 18:
# Input : Word - 'AlmaBetter' --> 'lmBttr' | Consonants

word = input('Enter the word: ')

_str = ''
for i in word:
  if i.lower() not in 'aeiou':
    _str = _str + i # Concatenate
print(_str)

Enter the word: AlmaBetter
lmBttr

In [ ]:
word = input('Enter the word: ')

_list = []
for i in word: # AlmaBetter
  if i.lower() not in 'aeiou':
    _list.append(i)
print(_list) # 'lmBttr'
# List of character --> String (.join())
print(''.join(_list))

Enter the word: AlmaBetter
['l', 'm', 'B', 't', 't', 'r']
lmBttr

In [ ]:
string = input("Enter a string: ")
for char in string:
  if char in "aeiouAEIOU":
    string = string.replace(char,"")
print(string)

Enter a string: AlmaBetter
lmBttr

#### Nested For loop

In [ ]:
# Practice
# Nested for loop means
# For loop inside the for loop
for i in ...:
  for j in ...:
    for k in ...:

In [ ]:
list_1 = [1,2,3,4]
list_2 = ['a','b','c','d']

for i in list_1:
  for j in list_2:
    print(f'Value of i: {i} and Value of j : {j}')

Value of i: 1 and Value of j : a
Value of i: 1 and Value of j : b
Value of i: 1 and Value of j : c
Value of i: 1 and Value of j : d
Value of i: 2 and Value of j : a
Value of i: 2 and Value of j : b
Value of i: 2 and Value of j : c
Value of i: 2 and Value of j : d
Value of i: 3 and Value of j : a
Value of i: 3 and Value of j : b
Value of i: 3 and Value of j : c
Value of i: 3 and Value of j : d
Value of i: 4 and Value of j : a
Value of i: 4 and Value of j : b
Value of i: 4 and Value of j : c
Value of i: 4 and Value of j : d

In [ ]:
# Question 16: Nested for loop
'''
Print this pattern -
1
12
123
1234
12345
'''

5
1
12
123
1234
12345

#### Self Practice (4 Questions + 3 Questions present on dasboard)

In [ ]:
# Question 1 : (Easy)
'''
For any num print the total sum of digits applying the logic of if number is even do square, else do cube

Input : 123  Output = 32  # 1^3 + 2^2 + 3^3 = 1 + 4 + 27
Input : 467  Output  = 395  # 4 ^ 2 + 6 ^ 2 + 7 ^3 = 16 + 36 + 343

'''

32

In [ ]:
# Question 2: (Hard)
'''
The Fibonacci series is a sequence of numbers where each number is
the sum of the two preceding ones, starting from 0 and 1.
The series begins as follows:

# Fibonacci Series : 0, 1, 1, 2, 3, 5, 8, 13, 21, 34,...
# input = 0 , fibonacci_output = [0]
# input = 1 , fibonacci_output = [0,1]
# input = 2 , fibonacci_output = [0,1,1]
# input = 3 , fibonacci_output = [0,1,1,2]
# input = 4 , fibonacci_output = [0,1,1,2,3]
# input = 5 , fibonacci_output = [0,1,1,2,3,5] # till 5th index print the fibonacci series
'''

4
[0, 1, 1, 2, 3]

In [ ]:
# Question 3: (Hard)
'''
Print the pyramid pattern using a for loop.
     *
    ***
   *****
  *******
 *********
***********
'''

5
    *
   ***
  *****
 *******
*********

In [ ]:
# Question 4 : # nested for loop :  Nested For loop | Tricky | Take the help of chatgpt and understand
'''
Given a list of integers, write a Python function that generates and
prints all possible sublists of the given list.
A sublist is defined as a contiguous segment of the list.

input_list = [23, 45, 67, 56]
Output =
[23]
[23, 45]
[23, 45, 67]
[23, 45, 67, 56]
[45]
[45, 67]
[45, 67, 56]
[67]
[67, 56]
[56]

'''

[23]
[23, 45]
[23, 45, 67]
[23, 45, 67, 56]
[45]
[45, 67]
[45, 67, 56]
[67]
[67, 56]
[56]

In [ ]:
'''
Given a list of integers, write a Python function that generates and
prints max values of each possible sublists of the given list.
A sublist is defined as a contiguous segment of the list.

input_list = [23, 45, 67, 56]
Output =
23, 45, 67,67, 45,67,67,67,67,56

Logic -

[23] --> 23
[23, 45] --> 45
[23, 45, 67] --> 67
[23, 45, 67, 56] --> 67
[45] --> 45
[45, 67] --> 67
[45, 67, 56] --> 67
[67] --> 67
[67, 56] --> 67
[56] --> 56

'''