<a href="https://colab.research.google.com/github/rm17octo22/PYTHON/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Question 1: (Easy)
'''
Sum of Even Numbers
Description: Write a Python program that takes a positive integer n as input
and uses a while loop to calculate the sum of all even numbers from 1 to n.
Example:

Input: n = 10
Output: Sum of even numbers = 30 (since 2 + 4 + 6 + 8 + 10 = 30)
'''

n = int(input("enter a positive number: "))
sum_even = 0
num = 1

while num <= n:
    if num % 2 == 0:
        sum_even += num
    num+=1
print(sum_even)

enter a positive number:

ValueError: invalid literal for int() with base 10: ''

In [ ]:
# Question 2: (Easy)
'''
Count Vowels in a String
Description: Write a Python program that takes a string as input
and uses a while loop to count the number of vowels (a, e, i, o, u) in the string.
Ignore the case of the characters.
Example:

Input: string = "Hello World"
Output: Number of vowels = 3 (since 'e', 'o', and 'o' are vowels)
'''

_str = input("enter a string : ")
_count = 0

for i in _str:
    if i in 'aeiou':
        _count += 1
print(_count)

########################################################

_str = input("enter a string : ")
_count = 0

while _str[i] <= len(_str):
    if _str[i] in 'aeiou':
        _count += 1
    _str[i] += 1
print(_count)

In [ ]:
# Question 3 (Hard)
'''
Find the Greatest Common Divisor (GCD) / HCF (Highest common factor)
Description: Write a Python program that takes two positive integers as input and uses a while loop to find their greatest common divisor (GCD) using the Euclidean algorithm.

Example:

Input: a = 48, b = 18
Output: GCD = 6
'''


# int1 = 48
#int2 = 18

#factor of 48 and stored in list/set
#factor of 18 and stored in list/set

# compare (list1 & list2) ---->>> common o/p is stored in final_list/set

# check which is the biggest number in _final_list ----- ans :- gcd = 6

'\nFind the Greatest Common Divisor (GCD) / HCF (Highest common factor)\nDescription: Write a Python program that takes two positive integers as input and uses a while loop to find their greatest common divisor (GCD) using the Euclidean algorithm.\n\nExample:\n\nInput: a = 48, b = 18\nOutput: GCD = 6\n'

In [ ]:
print(type("ravi"))
x = ("ravi",'patel')
print(type(x))

y = "ravi"
print(type(y))

_x_ = 5
print(type(_x_))

x1 = 'my ravi'
print(x1.split(' '))

x1 = ['r','a','v','i']
print(' '.join(x1))
print('-'.join(x1))

<class 'str'>
<class 'tuple'>
<class 'str'>
<class 'int'>
['my', 'ravi']
r a v i
r-a-v-i

In [ ]:
# Armstrong Number
# 4567 == 4 ** 4 + 5 ** 4 + 6 **4 + 7 ** 4
# 345 == 3 ** 3 + 4 ** 3+ 5 ** 3
# 239 == 2 ** (3) + 3 ** (3) + 9 ** (3)
# 153 == 1 ** (3) + 5 ** (3) + 3**3 = 1+ 125+27
# 1634 : Armstrong number
# 1-9 : Armstrong number
# 45678 : 4 ** 5 + 5 ** 5 ....


x = int(input("enter a number : "))
_str = str(x)
_total = 0

for i in _str:
    _total += int(i)** len(_str)

print(_total)

if x == _total:
    print(f"{x} is an armstrong number")
else:
    print(f"{x} is not an armstrong number")

enter a number : 153
153
153 is an armstrong number

In [ ]:
#      *
#     ***
#    *****
#   *******
#  *********
# ***********
#  *********
#   *******
#    *****
#     ***
#      *
depth = int(input('Enter the depth:'))

spaces = list(range(depth-1,-1, -1)) # [5,4,3,2,1,0]
star = list(range(1,2* depth, 2)) # [1,3,5,7,9,11]

for i,j in zip(spaces,star): #
  print(' ' * i, '*' * j)

spaces = list(range(depth-2,-1, -1))[::-1] # [0, 1, 2, 3, 4, 5]
star = list(range(1,2* depth -1 , 2))[::-1] # [11, 9, 7, 5, 3, 1]

for i,j in zip(spaces,star): #
  print(' ' * i, '*' * j)

Enter the depth:6
      *
     ***
    *****
   *******
  *********
 ***********
 *********
  *******
   *****
    ***
     *

In [ ]:
depth = 6
spaces = list(range(depth-2,-1, -1))[::-1]
print(spaces)

depth = 6
star = list(range(1,2* depth - 1, 2))[::-1]
print(star)

[0, 1, 2, 3, 4]
[9, 7, 5, 3, 1]

In [ ]:
'''
Given a list of integers, write a Python function that generates and
prints max values of each possible sublists of the given list.
A sublist is defined as a contiguous segment of the list.

input_list = [23, 45, 67, 56]
Output =
23, 45, 67,67, 45,67,67,67,67,56

Logic -

[23] --> 23
[23, 45] --> 45
[23, 45, 67] --> 67
[23, 45, 67, 56] --> 67
[45] --> 45
[45, 67] --> 67
[45, 67, 56] --> 67
[67] --> 67
[67, 56] --> 67
[56] --> 56

'''

'\nGiven a list of integers, write a Python function that generates and\nprints max values of each possible sublists of the given list.\nA sublist is defined as a contiguous segment of the list.\n\ninput_list = [23, 45, 67, 56]\nOutput =\n23, 45, 67,67, 45,67,67,67,67,56\n\nLogic -\n\n[23] --> 23\n[23, 45] --> 45\n[23, 45, 67] --> 67\n[23, 45, 67, 56] --> 67\n[45] --> 45\n[45, 67] --> 67\n[45, 67, 56] --> 67\n[67] --> 67\n[67, 56] --> 67\n[56] --> 56\n\n'

In [ ]:
#Question 1
'''
Question 1: Sum of First N Natural Numbers
Description: Write a Python program that takes a positive integer n as input
and uses a while loop to calculate the sum of the first n natural numbers.

'''


_num = int(input("enter a positive number : "))
_sum = 0

for i in range(1,_num+1):
  _sum += i
print(_sum)

_num = int(input("enter a positive number : "))
_sum = 0
i = 1
while i <= _num:

    _sum += i
    i += 1
print(_sum)

enter a positive number : 5
15
enter a positive number : 5
15

In [ ]:
# Question 3
'''
Find the Factorial of a Number
Description: Write a Python program that takes a
positive integer n as input and uses a while loop to calculate its factorial.
0! = 1
1! = 1
2! = 2
3! = 6
4! = 24
5! = 120 (5*4*3*2*1 || 1*2*3*4*5)
'''
n=int(input('Enter the number to calculate the factorial(n!):'))
x = 1

for i in range(1,n+1):
   x *= i
print(x)

# n=int(input('Enter the number to calculate the factorial(n!):'))
fact = 1

while  n > 0 :
    fact *= n
    n -= 1

print(fact)

Enter the number to calculate the factorial(n!):5
120
120

In [ ]:
# Question 4 (Hard)
'''
Write a Python code
that takes a positive integer n as input.
The output should repeatedly sum the digits of n until a single-digit number is obtained.

If the resulting single-digit number is 7, the output should print "Thala for a reason".
Otherwise, it should return the single-digit number.

Input -- 1234 --> 1+2+3+4 -- > 10 --> 1+ 0 --> 1

# Single digit is equal to 7 : Thala for a reason
'''

_num = int(input("enter a number : "))
_total = 0

for i in str(_num):
   _total += int(i)

print(_total)

if _total == 7:
  print("thala")
else:
  print("its not a thala")


_num = input("enter a number : ")
_x = str(_num)
_total = 0
i = 0

while   i <= len(_x):
  _total += int(i)
  i += 1

print(_total)


if _total == 7:
  print("thala")
else:
  print("its not a thala")

enter a number : 1234
10
its not a thala
enter a number : 1234
10
its not a thala

In [ ]:
_str = input("enter a string : ")
_count = 0

for i in _str:
   if i.lower() in 'aeiou':
      _count += 1
print(_count)

_str = input("enter a string : ")
_count = 0
i = 0

while i < len(_str):
  if _str[i] in 'aeiou':
      _count += 1
  i += 1
print(_count)

enter a string : ravi
2
enter a string : my name is ravi patel
7

In [ ]:
divisor = int(input('Enter the Divisor:')) # 18
dividend = int(input('Enter the Dividend:')) # 48

while divisor !=0:
  divisor, dividend = dividend % divisor, divisor
  print(f'Dividend : {dividend}, Divisor : {divisor}')
# print(dividend)

Enter the Divisor:12
Enter the Dividend:12
Dividend : 12, Divisor : 0

In [ ]:
##################################################    DOUBT   ###############################################


'''
Input:
7548

Output:
Step-1 Sum: 24
Step-2 Sum: 6

'''

_num = int(input("enter a number : ")) # 7548
_str_num = str(_num)          # '7548'

while  len(_str_num) > 1:    # 4 > 1---- > True
    sum = 0
    for i in _str_num:
        sum += int(i)
    print(f'Step-1 Sum: {sum}')
    _str_num = str(sum)

enter a number : 7548
Step-1 Sum: 24
Step-1 Sum: 6

In [ ]:
'''

Write a Python program to find the closest palindrome from a given string.

Example 1:
Input:
cat

Output:
cac

Example 2:
Input:
madan

Output:
madam

'''

In [7]:
'''

In Statistics, Mean (average) is a common term used to analyze the data.
Thus, we should know how to program this Statistical term using Python. For this, write a Python program to calculate the sum and average (Mean) of n integer numbers (input from the user). Input 0 to finish the list.

Example 1:
Input:
2
4
6
8
10
0

Output:
Average and Sum of the above numbers are: 6.0 30.0

Example 2:
Input:
15
16
12
0

Output:
Average and Sum of the above numbers are: 14.333333333333334 43.0

'''

'\n\nIn Statistics, Mean (average) is a common term used to analyze the data. \nThus, we should know how to program this Statistical term using Python. For this, write a Python program to calculate the sum and average (Mean) of n integer numbers (input from the user). Input 0 to finish the list.\n\nExample 1:\nInput:\n2\n4\n6\n8\n10\n0\n\nOutput:\nAverage and Sum of the above numbers are: 6.0 30.0\n\nExample 2:\nInput:\n15\n16\n12\n0\n\nOutput:\nAverage and Sum of the above numbers are: 14.333333333333334 43.0\n\n'

In [1]:
# Challenge : you have to solve
'''
n = 5

55555
54445
53335
52225
51115
50005
'''
n = int(input("enter a number"))
for i in range(5,-1,-1):
  print(f'{n}{i}{i}{i}{n}')

enter a number5
55555
54445
53335
52225
51115
50005

In [11]:
# Practice 1
'''
Question 1: Square Even Numbers
Write a Python function that takes an list as an input and returns the squares of only the even numbers.
Use the filter() function to filter even numbers, and the map() function to apply squaring.
'''

_list = [2,4,5,6,7,8,9]
# Output : [4,16,36,64]


# filter for even numbers
_list12 = []
for i in _list:
  if i%2 == 0:
    _list12.append(i)

print(_list12)


def _even(x):
  if x%2 == 0:
    return True

print(list(filter(_even ,_list )))
# map for square

[2, 4, 6, 8]
[2, 4, 6, 8]

In [ ]:
# Practice 2
'''
List Comprehension to Create Pairs
Given a list of numbers, write a Python code that uses list comprehension
to generate a new list of tuples, where each tuple contains a odd numbers and its square.
input = [1, 2, 3, 4]  # Output: [(1, 1), (3, 9)]
'''

_list = [1,2,3,4]

In [ ]:
'''
Write a program function to print twin primes less than 1000.
If two consecutive odd numbers are both prime then they are known as twin primes
Twin Prime:
 (3, 5)
(5, 7)
(11, 13)
(17, 19)
 ....
'''

for i in range(1,1000):

In [ ]:
'''
Write a  Python function that prints out the first n rows of Pascal's triangle.

Note : Pascal's triangle is an arithmetic and geometric figure first imagined by Blaise Pascal.
Input - n : 6
Output -
[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]

'''


depth = int(input("enter a depth : "))
space = range(depth - 1, -1 ,-1)

In [ ]:
# Practice 1
'''
Question 1: Square Even Numbers
Write a Python function that takes an list as an input and returns the squares of only the even numbers.
Use the filter() function to filter even numbers, and the map() function to apply squaring.
'''

_list = [2,4,5,6,7,8,9]
# Output : [4,16,36,64]

In [ ]:
# Practice 2
'''
List Comprehension to Create Pairs
Given a list of numbers, write a Python code that uses list comprehension
to generate a new list of tuples, where each tuple contains a odd numbers and its square.
input = [1, 2, 3, 4]  # Output: [(1, 1), (3, 9)]
'''

_list = [1,2,3,4]

In [ ]:
# Practice 3
word = 'Engineering'
# {} : set of Unique Vowels
# Set comprehension

In [ ]:
# Practice 4
'''
Question: Sorting a Dictionary by Values
Given a dictionary where the keys are strings and the values are integers,
write a Python function that sorts the dictionary by its values in ascending order.
Use the sorted() function with a lambda expression.

Example:

python
Copy code
my_dict = {'apple': 3, 'banana': 1, 'cherry': 2}

# Your function here

# Expected Output:
# ['banana', 'cherry', 'apple']
Hint: You can pass a lambda function as the key argument to the sorted() function to sort by dictionary values.
'''