<a href="https://colab.research.google.com/github/rm17octo22/PYTHON/blob/master/In_built_functions_and_Methods_13th_Sept.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### In built Functions

#### print, len & type

In [ ]:
# print : Displayes the value stored in the variable
name = 'Rahul'
program = 'Data Science'
print(name) # My name is anand
print(program)

Rahul
Data Science

In [ ]:
# let's consider the scenarion where I want to print
# "Hi, My name is <name>, I have enrolled in the <program>. Thank you", Where Program is a variable which will change
# Including variable with the text

In [ ]:
#Method 1 : Using Comma separated values # Most Common
print('My name is',name,', I have enrolled in the',program,'Program .Thank you!')
# Include Space after , (comma)

My name is Rahul , I have enrolled in the Data Science Program .Thank you!

In [ ]:
# Method 2 : F string works with {variable} | Always curly bracket # 2nd Most Common
print(f'My name is {name}, I have enrolled in the {program} program.') # fstring

My name is Rahul, I have enrolled in the Data Science program.

In [ ]:
_var = f'My name is {name}, I have enrolled in the {program} program.'
print(_var)

My name is Rahul, I have enrolled in the Data Science program.

In [ ]:
time = 45

In [ ]:
# method 3 : .format()
print("Hi, My name is {},I have enrolled in the {}.Thank you".format(name,program,time))

Hi, My name is Rahul,I have enrolled in the Data Science.Thank you 45

In [ ]:
_var = {'Alok':[84,85,90],'Rahul':[89, 95, 100]}
a = _var['Alok']
print(f'The score of Alok is {a}')

b = list(_var.keys())
print(f'Students are {len(b)}')

The score of Alok is [84, 85, 90]
Students are 2

In [ ]:
print(f"The score of Alok is {_var['Alok']}")

The score of Alok is [84, 85, 90]

In [ ]:
# Method 4 : Least popular (use of concatenation (+))
print("Hi, My name is " + name + ",I have enrolled in the " + program +".Thank you")

Hi, My name is Anand,I have enrolled in the Machine Learning.Thank you

In [ ]:
## len() --> Count of elements | All non primitive data types
_str = 'AlmaBetter'
print("length of the string",_str,':',len(_str))
# String : Everything inside "", '', '''''' will be counted as element

length of the string AlmaBetter : 10

In [ ]:
_list = [4 , 5 , 6]
# Everything inside string is counted
# Rest other list, tuple,dictionary, set : elements are separated by comma
# '4,5,6' : 5 elements
len(_list) # No. of elements

3

In [ ]:
_tuple = (5,6,7,8,9,10,45,35,67)
len(_tuple) # No. of elements

9

In [ ]:
## type: Data type of the value stored in the variable
_var= {4,5} # Values with { } :
type(_var)

set

In [ ]:
# print() with end  Pattern questions using for/ while loop

#### TypeCasting of Data

In [ ]:
# Typecasting : Changing one data types to another
# int(), float(),bool(), str(), list(),tuple(), dict(), set()
# Why do we need to do typecasting?
# because data in current format is not usable or some logic can't be applied, you need to typecast to a data types which will be usable.

In [ ]:
# Change it to integer
# String to Integer
string_num = "123"
int_num = int(string_num)
print(int_num)  # Output: 123
# Note if any character is present like '123a' --> Then conversion will throw an error.

# Float to Integer
float_num = 45.67
int_num = int(float_num)
print(int_num)  # Output: 45

# Boolean to Integer
bool_value = False
int_bool = int(bool_value)
print(int_bool)  # Output: 0

123
45
0

In [ ]:
# Float is in string
# int('34.67')
int(34.67) # This will be converted

34

In [ ]:
# int('45')
# int('45.67')

ValueError: invalid literal for int() with base 10: '45.67'

In [ ]:
_var = 10.45 # Float
# Convert the value present in the _var to int

10

int

In [ ]:
_var = True # Boolean True : 1 , False : 0
# Convert the value present in the _var to int

1

int

In [ ]:
# Note : value is in String format which containts non numeric values with numberic : Can't be converted to int
_var = '12a' # Non numeric value with numeric
int(_var) # Error

In [ ]:
# Convert from any other data type to float
# String to Float
string_num = "123.45"
float_num = float(string_num) # float function to convert to float
print(float_num)  # Output: 123.45

# Integer to Float
int_num = 123
float_num = float(int_num)
print(float_num)  # Output: 123.0

# Boolean to Float
bool_value = True
float_bool = float(bool_value)
print(float_bool)  # Output: 1.0

#

123.45
123.0
1.0

In [ ]:
# Note : value is in String format which containts non numeric values with numberic : Can't be converted to float
_var = '12.45a' # Non numeric value with numeric
float(_var) # Error

ValueError: could not convert string to float: '12.45a'

In [ ]:
# Convert from any other data type to string , ""
# Integer to String
int_num = 456
str_num = str(int_num) # Converting int to string : Important : For loop
# str_num  # Output:  "456"

# # Float to String
float_num = 78.90
str_float = str(float_num)
print(str_float) # Output: "78.9"

# # Boolean to String
bool_value = False
str_bool = str(bool_value)
print(str_bool)  # Output: "False"

# # list to String
list_value = [1,2,3,4]
str_list = str(list_value)
str_list  # Output: "[1,2,3,4]"

# Same applied on tuple,set, dict

'456'

In [ ]:
_tup = (2,3,4,5)
str(_tup)

'(2, 3, 4, 5)'

In [ ]:
# Integer to Boolean
int_num = 0
bool_num = bool(int_num)
print(bool_num)  # Output: False

# Any value other than 0 is True

# # Float to Boolean
float_num = 0.0
bool_float = bool(float_num)
print(bool_float)  # Output: False

# # String to Boolean
str_value = "" # Unicode of true --> t, r, u ,e
bool_str = bool(str_value)
print(bool_str)  # Output: True

# Note: if string is "" with zero elements then only False , otherwise True

False
False
False

In [ ]:
str_value = "False"
bool_str = bool(str_value)
print(bool_str)

True

In [ ]:
# Note : only 0 is False ,  any other value if converted to boolean it will be True
int_num = 0
bool_num = bool(int_num)
print(bool_num)

False

In [ ]:
# set('Data')

{'D', 'a', 't'}

In [ ]:
# str(['P', 'y', 't', 'h', 'o', 'n'])
# ''.join(['P', 'y', 't', 'h', 'o', 'n'])

'Python'

In [ ]:
# List and Tuple Conversion (list() and tuple())

# String to List : Important to keep it mind
string_word = "Python"
list_word = list(string_word)
print(list_word)  # Output: ['P', 'y', 't', 'h', 'o', 'n']
# ['Python']

# Tuple to List
tuple_numbers = (1, 2, 3)
list_numbers = list(tuple_numbers)
print(list_numbers)  # Output: [1, 2, 3]

# List to Tuple
list_colors = ['Red', 'Green', 'Blue']
tuple_colors = tuple(list_colors)
print(tuple_colors)  # Output: ('Red', 'Green', 'Blue')
# Efficient memory management :
# Store the value as tuple and whenever you need to change any value : (tuple : Immutable)
# temporarily convert it to list, change the value and convert it back to tuple.

['P', 'y', 't', 'h', 'o', 'n']
[1, 2, 3]
('Red', 'Green', 'Blue')

In [ ]:
# List to Set
list_numbers = [1, 2, 2, 3, 4, 4, 5] # Way to represent the data
set_numbers = set(list_numbers)
print(set_numbers)  # Output: {1, 2, 3, 4, 5}

# String to Set
string_characters = "abraca[]da{}bra"
set_characters = set(string_characters)
print(set_characters)  # Output: {'c', '[', 'd', '}', 'a', 'r', ']', 'b', '{'}

{1, 2, 3, 4, 5}
{'c', '[', 'd', '}', 'a', 'r', ']', 'b', '{'}

In [ ]:
# Set to list
_set = {3,4,5,6}
# str(_set)

'{3, 4, 5, 6}'

In [ ]:
# int('12') vs int('12a')

In [ ]:
# Note :
_var = [ 1,2,3,4, (4,5), [6,7]]
set(_var) # Error : because set doesn't accept list, dict & set

TypeError: unhashable type: 'list'

In [ ]:
# Nested tuple be converted to set
_tup = ((3,4),5,6,7,(8,7))
set(_tup) #Set accept tuple, it doesn't accept list, dict, set

TypeError: unhashable type: 'list'

In [ ]:
# Dictionary : keys & values
_list = [3,4,5,6]
dict(_list)# Error because of only values

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [ ]:
# List or tuple to dict | list of list
_list = [[4,5], [6,7], [8,9]]
dict(_list)

{4: 5, 6: 7, 8: 9}

In [ ]:
_tuple = ((4,5), (6,7), (8,9))
dict(_tuple)

{4: 5, 6: 7, 8: 9}

In [ ]:
_list_tuple = [(4,5), (6,7), (8,9)]
dict(_list_tuple)

{4: 5, 6: 7, 8: 9}

In [ ]:
# Restriction :
# List to be considered as key and value should have only 2 elements
_list_tuple = [(4,5,8), (6,7), (8,9)]
dict(_list_tuple) # Error because only 2 elements must there to assign key & value

In [ ]:
_list_tuple = [('a',[5,6,7]), (6,7), (8,9)]
dict(_list_tuple)

{'a': [5, 6, 7], 6: 7, 8: 9}

In [ ]:
# Note : In key : list, set & dict not accepted.
_list_tuple = [([5,6,7], 'a'), (6,7), (8,9)]
dict(_list_tuple) # Error because key will not accept list, set & dictionaries

TypeError: unhashable type: 'list'

In [ ]:
_list_tuple = [( 'a', [5,6,7]), (6,7), (8,9), (6,10)]
dict(_list_tuple) # In case of duplicated keys , last value with key will be accepted.

{'a': [5, 6, 7], 6: 10, 8: 9}

In [ ]:
# From dictionary to other datatype
_dict = {'a':4, 'b':6}
print(list(_dict)) # By default give you the keys
print(list(_dict.keys()))  # Same ans ss above
print(list(_dict.values()))# Values are taken out and converted to list
print(list(_dict.items())) # pair of keys and values as list of tuples.
print(tuple(_dict.items())) # pair of keys and values as tuple of tuples.

['a', 'b']
['a', 'b']
[4, 6]
[('a', 4), ('b', 6)]
(('a', 4), ('b', 6))

In [ ]:
_var = 'I have scored 40% marks in Maths'
print(list(_var)) # Each & Every character will become an individual element.
# Reason :

['I', ' ', 'h', 'a', 'v', 'e', ' ', 's', 'c', 'o', 'r', 'e', 'd', ' ', '4', '0', '%', ' ', 'm', 'a', 'r', 'k', 's', ' ', 'i', 'n', ' ', 'M', 'a', 't', 'h', 's']

In [ ]:
# _var = 'I am Alok,'
# _marks = [80,90]
# print(_var, "I have scored: ",_marks)

I am Alok, I have scored:  [80, 90]

In [ ]:
# [ ] : Represent list data types, index, Slicing
# () : Represent tuple, used with function to give the input

#### Input & Eval

In [ ]:
# Input : It takes input from the user to store in the variable
_var = input('Enter the age:') # In strings you put the instructions to input the value
print(_var)
# Note : by default input will store the value as string
type(_var)

Enter the age:30
30

str

In [ ]:
_var = int(input('Enter the age:')) # In strings you put the instructions to input the value
print(_var)
# Note : by default input will store the value as string but here converted/typecasted to int
type(_var)

Enter the age:30
30

int

In [ ]:
_var = input('Enter your name:') # In strings you put the instructions to input the value
print(_var)
# Note : by default input will store the value as string but here converted/typecasted to int
type(_var)

Enter your name:Alok
Alok

str

In [ ]:
# Major Issue with converting to list, tuple , dict & set
_var = list(input('Enter the list of marks:'))
print(type(_var))
print(_var)

Enter the list of marks:[45,60]
<class 'list'>
['[', '4', '5', ',', '6', '0', ']']

In [ ]:
# eval function : Master converter from string to other data types.|| Master key

_x = 5
eval('print(_x)') # It executed whatever you have inside the quotes
eval('[4,5,6,7]')

5

[4, 5, 6, 7]

In [ ]:
[4,5,6,7]

[4, 5, 6, 7]

In [ ]:
# eval
_var = eval(input('Enter the list of marks:'))
print(type(_var))
print(_var)

Enter the list of marks:[45,60]
<class 'list'>
[45, 60]

In [ ]:
_var = eval(input('Enter the dict of marks:'))
print(type(_var))
print(_var)

Enter the dict of marks:{4:5, 6:7}
<class 'dict'>
{4: 5, 6: 7}

In [ ]:
_var = eval(input('Enter the age'))
print(type(_var))
print(_var)

Enter the age30
<class 'int'>
30

In [ ]:
# Industry Standard : Eval with input : In case of expected input other than string

In [ ]:
_var = eval(input('Enter the name : '))
print(type(_var))
print(_var) # Error : becuase of string input to be considered as variable

Enter the nameAlok

NameError: name 'Alok' is not defined

In [ ]:
# Why has eval thrown the error?
_x = 5
eval('_x') # It executed whatever you have inside the quotes

5

In [ ]:
eval('_x')

5

In [ ]:
_x

5

In [ ]:
# '_x' vs _x

In [ ]:
eval('Alok')

In [ ]:
# From String to any other data types :  eval()

#### Mathematical Functions

In [ ]:
# round(), sum(), min(), max(), sorted(), abs()

In [ ]:
_x = 4.564
# Round off
print(round(_x)) # round off till 0 digit after decimal
print(round(_x,1)) # round off till 1 digit after decimal # after the 1st digit of decimal, next digit as >=5 , +1
print(round(_x,2))

5
4.6
4.56

In [ ]:
#sum, min & max
# sum : sum of elements
# min : min of elements
# max : max of elements
# Functions : list, tuple, set & dictionary : Elements to be added must be Numeric int, float or boolean
_var  = [3, 4 , 5 , 6, 5.6, False , -6]
print(sum(_var))
print(min(_var))
print(max(_var))

17.6
-6
6

In [ ]:
_var  = [[4,5], [6,7], [8,9]]
# sum(_var) # error values to add are not numeric
sum(_var[0]) # No error

9

In [ ]:
# sum([[4,5], [6,7], [8,9]])#  3 elements and what are the data types? list # Error

In [ ]:
#
_marks =  [40,50,60]
# Average of marks = sum of elements / no of elements
avg = sum(_marks)/ len(_marks)
print(avg)

50.0

In [ ]:
_X = "124"  # String
Z = eval ('print(_X)' ) # 124
print ( type (Z))

124
<class 'NoneType'>

In [ ]:
_X = "124"
print(_X)

124

In [ ]:
a = 2
b = print(a)

2

In [ ]:
print(b)

None

In [ ]:
# Return vs print in Function : Custom Function

In [ ]:
# abs : It gives you the absolute value of any numeric/maginitude irrespective of the sign (positive or negative)
_x = 4.5
abs(_x) # 4.5
_y = - 5.6
print(abs(_y)) # Mod : Mathematics : |-4| = 4 , |4| = 4 # -(-5.6)
# Always output is positive

5.6

In [ ]:
#sorted : Sort the values in ascending or descending order | Numeric value
_list = [56,32,67,89,30,20] # Randomly displayed
print(sorted(_list)) # By default it will sort in ascending order
print(sorted(_list, reverse = True)) # Descending order

[20, 30, 32, 56, 67, 89]
[89, 67, 56, 32, 30, 20]

#### Iterator Functions

In [ ]:
# range(), enumerate() , zip(): For / while loop

In [ ]:
# range()--> used to generate series of numbers from i to j with stepsize k
print(list(range(3, 7))) # Range format
print(tuple(range(3, 7)))
# j will be excluded | till one value prior it will give you the output
# It works similar to slicing | it does not do slicing , but concept of i, J & K is followed same

[3, 4, 5, 6]
(3, 4, 5, 6)

In [ ]:
# [4,5,6,7,8]
list(range(4,9)) # Why? Because is 9 is excluded

[4, 5, 6, 7, 8]

In [ ]:
list(range(1,10,2)) # i : Start point , j : end point & K is the stepsize

[1, 3, 5, 7, 9]

In [ ]:
list(range(2,100,2)) #100 is excluded | K is stepsize

In [ ]:
list(range(10,3, -1)) # Reverse direction as k is negative

[10, 9, 8, 7, 6, 5, 4]

In [ ]:
list(range(1000,300, -1)) # from 1000, 300 all values : 300 is excluded

In [ ]:
list(range(-3,-100, -1)) #

In [ ]:
list(range(-3,100, 1))

In [ ]:
# enumerate() --> Splits the value of a collection of elements in list with index & value
# enumerate([Value]) --> Output = [(index, value)]
_list = ['a', 34,10, 'b', True]
list(enumerate(_list))

[(0, 'a'), (1, 34), (2, 10), (3, 'b'), (4, True)]

In [ ]:
tuple(enumerate(_list))

((0, 'a'), (1, 34), (2, 10), (3, 'b'), (4, True))

In [ ]:
dict(enumerate(_list)) # Index as the key

{0: 'a', 1: 34, 2: 10, 3: 'b', 4: True}

In [ ]:
_dict = {3:4, 5:6}
list(enumerate(_dict)) # By Default Keys

[(0, 3), (1, 5)]

In [ ]:
list(enumerate(_dict.values()))

[(0, 4), (1, 6)]

In [ ]:
_set = {'a', 5, 6, 'b'}
_list_set = list(_set)
print(_list_set)
print(list(enumerate(_set)))
print(list(enumerate(_list_set)))

['a', 'b', 5, 6]
[(0, 'a'), (1, 'b'), (2, 5), (3, 6)]
[(0, 'a'), (1, 'b'), (2, 5), (3, 6)]

In [ ]:
# Enumerate : list, string or tuple , because only with these , index makes sense
# For dict & Set : Index doesn't make sense. | Unordered

In [ ]:
set(enumerate({3:4, 5:6}))

{(0, 3), (1, 5)}

In [ ]:
# zip() --> Zips the data : Combine two values present on same index
_list1 = [2,6,1,8]
_list2 = [6,7,8,9]
list(zip(_list1,_list2))

[(2, 6), (6, 7), (1, 8), (8, 9)]

In [ ]:
_list1 = [2,6,1,8]
_list2 = [6,7,8,9]
_list3 = ['a', 'b', 'c', 'd']
list(zip(_list1,_list2, _list3))

[(2, 6, 'a'), (6, 7, 'b'), (1, 8, 'c'), (8, 9, 'd')]

In [ ]:
_list1 = [2,6,1,8]
_list2 = [6,7,8,9]
_list3 = ['a', 'b', 'c'] # One list with less no of values
list(zip(_list1,_list2, _list3)) # minimum no of common elements available

[(2, 6, 'a'), (6, 7, 'b'), (1, 8, 'c')]

In [ ]:
_list1 = [2,6,1,8]
_list2 = [6,7,8,9]
_list3 = ['a'] # One list with less no of values
list(zip(_list1,_list2, _list3)) # minimum no of common elements available

[(2, 6, 'a')]

In [ ]:
_list = ['a', 34, 3, 'n', 43, 'True']
enumerated_list = list(enumerate(_list))
print(enumerated_list)

#### del, dir, ord, bin, chr

In [ ]:
_data = 'Science'

In [ ]:
# dir, del , ord, bin, chr
'_data' in dir() # List of all variables intitialised as string

True

In [ ]:
_xyz = 6

In [ ]:
dir() # List of names of all variables active in the python environment

['In',
 'Out',
 '_',
 '_1',
 '_3',
 '_4',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_data',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 '_xyz',
 'exit',
 'get_ipython',
 'quit']

In [ ]:
['_xyz'] # variable name in a list

In [ ]:
[_xyz] # Variable will represent the value

[6]

In [ ]:
# del  --> It deletes the variable
del _xyz # Delete _xyz variable
# It helps you remove all the irrelevant variable to optimise space.

In [ ]:
dir()

['In',
 'Out',
 '_',
 '_1',
 '_3',
 '_4',
 '_6',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_data',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'quit']

In [ ]:
# ord, bin, chr
# Unicode & Binary

In [ ]:
# ord --> Unicode of any single character
print(ord('a')) # Unicode of 'a'
print(ord('A')) # Unicode of 'A'

97
65

In [ ]:
print(ord('a')) # Unicode of 'a'
print(ord('l')) # Unicode of 'l'
print(ord('o')) # Unicode of 'o'
print(ord('k')) # Unicode of 'k'
print(ord('')) # Unicode of emoji

97
108
111
107
128516

In [ ]:
# Chr: It gives you the character assigned to unicode
print(chr(97))
print(chr(128516))

a

In [ ]:
emotion = chr(128516)
print(f'I am feeling {emotion}') # Using Unicode,  Emoji can be added
# f string to include variable in print statement

I am feeling

In [ ]:
print('I am feeling', emotion)

I am feeling

In [ ]:
# bin() : It converts the number to binary format

In [ ]:
print(ord('a')) # Unicode of 'a'
print(ord('l')) # Unicode of 'l'
print(ord('o')) # Unicode of 'o'
print(ord('k')) # Unicode of 'k'
print(ord('')) # Unicode of emoji

97
108
111
107
128516

In [ ]:
print(bin(97))
print(bin(108))
print(bin(111))
print(bin(107))

0b1100001
0b1101100
0b1101111
0b1101011

In [ ]:
(2**6) + (2 ** 5) + (2**0)

97

In [ ]:
# From binary to int :function
int('1100001',2) # Binary to int

97

### In built Methods

#### String

In [ ]:
# .count() --> Returns the number of times a specified value occurs in a string
_string = 'Data Science'
# Count the number of 'a' in the string
print(_string.count('a')) # 2 : no.of times 'a' is present in the string
# substring : .count will check the exact sequence of characters
print(_string.count('ac')) # 0 : 'ac' together it's not present
print(_string.count('at')) # 1 : 'at' is present together 1 time.
# How many times 'a' and 'c' is present in the string?
print(_string.count('a') + _string.count('c'))
# Python is case sensitive Capital & Small are considered different values
_string = 'DatA Science'
print(_string.count('a'))  # Only small 'a' is counted

2
0
1
4
1

In [ ]:
_string = 'Data Science'
# 'a' & 'c' --> 4 | Individual element | Not together
_string.count('a')  + _string.count('c')

4

In [ ]:
# index() : Searches the string for a specified value and returns the position of where it was found.
_string = 'Data Science'
print(_string.index('S')) # Index where S is present | Positive Index
# Note : In case of repeated values, index of first occurance
print(_string.index('a')) # Index where a is present | Positive Index
# To get all index of repeated values, we use for loop
# Note : Index of the start of the pattern/ Substring
print(_string.index('Sc')) # 5 : Starting index of the substring
print(_string.index('Science')) # 5 : Starting index of the substring

5
1
5
5

In [ ]:
# replace() : Returns a string where a specified value is replaced with a specified value.
_string = 'Data Science'
# Replace : 'Data' --> 'DATA
print(_string.replace('Data', 'DATA'))# ('old','new')
# String is immutable : How come we are able to change it?
print(_string) # Actually your value has not changes , .replace will only display it not change the original value

DATA Science
Data Science

In [ ]:
_string = _string.replace('Data', 'DATA') # Reassigning the value
print(_string)

DATA Science

In [ ]:
_string = 'Data Science'
_string.replace('Data', 'Science') # ('old', 'new')

'Science Science'

In [ ]:
_string.replace('a', '&') # Data Cleaning

'D&t& Science'

In [ ]:
# Lower(), Upper(), title()
_x = 'Data science'
print(_x.lower()) # alphabets converted to small case | Small letter
print(_x.upper()) # alphabets converted to upper case | Capital letter
print(_x.title()) # changes the first character of all words in a sentence to capital

data science
DATA SCIENCE
Data Science

In [ ]:
_name = 'ravi sharma'
print(_name.title())

Ravi Sharma

In [ ]:
_sentence = 'i am learning data science'
_sentence.title()

'I Am Learning Data Science'

In [ ]:
# strip(), split(), join() --> V. Important Methods
# Natural Language Processing
# strip() --> Method which strips the leading & trailing whitespaces
_string = '       Data Science  ' # Common Problem in the real world data
_string.strip() # Data Cleaning :

'Data Science'

In [ ]:
_string = _string.strip()
len(_string)

12

In [ ]:
# split() : Splits the string based on some criteria and returns list
_String = 'Data Science'
_String.split(' ') # Split on space

['Data', 'Science']

In [ ]:
_string = 'I.am.learning.data science'
# Separate words
_string.split('.')

['I', 'am', 'learning', 'data science']

In [ ]:
_date = '2024/04/01'
_date.split('/') # it will split year, month & date

['2024', '04', '01']

In [ ]:
# How many words are there in a sentence?
_Sentence = 'I am Learning at AlmaBetter'
# How many words are there/
# Solution 1
_Sentence.count(' ') + 1 # Count of space + 1
# Solution 2
_sentence_word =  _Sentence.split(' ')
print(len(_sentence_word)) #

5

In [ ]:
_Sentence.split(' ')

['I', 'am', 'Learning', 'at', 'AlmaBetter']

In [ ]:
# Join : Opposite of split() , converts the list of elements into string based on some joining criteria

_date = ['2024', '04', '01']
# How can I get this '2024/04/01'?
# Join :
# Exception : Expression of join :: 'criteriatojoin'.join(list)
'/'.join(_date) # 'criteria'.join(list of elements)

'2024/04/01'

In [ ]:
_list = ['I', 'am', 'Learning', 'at', 'AlmaBetter']
# Get the Sentence out of it.
' '.join(_list)

'I am Learning at AlmaBetter'

In [ ]:
# last concept to close the session.
# Can multiple methods be used together?
_string = '    Data Science'
# First remove the redundant spaces, convert it to lower case and split the string on space
_string.strip().lower().split(' ')
# Python will execute left to right

['data', 'science']

In [ ]:
dir()

['In',
 'Out',
 '_',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'ex1',
 'ex2',
 'exit',
 'get_ipython',
 'quit']

In [ ]:
_x = 5

In [ ]:
dir()

['In',
 'Out',
 '_',
 '_5',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 '_x',
 'ex1',
 'ex2',
 'exit',
 'get_ipython',
 'quit']

In [ ]:
_x = 5

In [ ]:
del(_x) # Delete the variable

In [ ]:
# isnumeric(), isupper() , islower(), isalnum(), isalpha()
# Conditional methods : string
_string = '45678a' # all the characters here must be numeric
print(_string.isnumeric())

False

In [ ]:
_string = '8.6' # all the characters here must be numeric/only numbers
print(_string.isnumeric())

False

In [ ]:
# isupper() , islower(), istitle()
_string = 'Abc Bce'
print(_string.isupper()) # All characters are uppercase
print(_string.islower()) # All characters are smallcase
print(_string.istitle()) # String is in title case

False
False
True

In [ ]:
_name = 'Data Science' # If first alphabet of each word in a sentence is captial | Title case

In [ ]:
_Str = '1,2,3' # 5 elements everything inside quotes will become a character
_list = [1,2,3] # 3 elements

In [ ]:
# isalnum() : Returns True if all characters in the string are in the alphabet or number
# isalpha() : Returns True if all characters in the string are in the alphabet
_str = '32232dwddw' # all characters are only numbers or alphabets
print(_str.isalnum()) # True
print(_str.isalpha()) # False

True
False

In [ ]:
_str = 'dwddw'
print(_str.isalnum()) # True
print(_str.isalpha()) # True

True
True

In [ ]:
# .isalnum(), .isalpha(), .isnumeric() # Data Cleaning

In [ ]:
# List
# Count() : Counts the elements present in the list
_list = [2,3,4,5,6,6,7,7,'a', 'b', 'a']
print(_list.count('a')) # 2

2

In [ ]:
# index() : index of the first occurance of the element
print(_list.index('a')) #

8

In [ ]:
_list = [2,3,4,5,6,6,7,7,'a', 'b', 'a']

In [ ]:
# append() : Adds an element at the end of the list
_list.append('hello') # 'hello' at the end of the list
print(_list) # Original Variable has changed , List is mutable

[2, 3, 4, 5, 6, 6, 7, 7, 'a', 'b', 'a', 'hello']

In [ ]:
_String = 'Data Science'
print(_String.replace('Data','DATA'))
print(_String)

DATA Science
Data Science

In [ ]:
_list = [2,3,4,5,6,6,7,7,'a', 'b', 'a']
# Add : [6,7,8] Add at the end of the list
# Extend : [2,3,4,5,6,6,7,7,'a', 'b', 'a',6,7,8]
_x = [6,7,8]
_list.append(_x)
print(_list)

[2, 3, 4, 5, 6, 6, 7, 7, 'a', 'b', 'a', [6, 7, 8]]

In [ ]:
_list = [2,3,4,5,6,6,7,7,'a', 'b', 'a']
#
_list.append(6)
_list.append(7)
_list.append(8)
print(_list)

[2, 3, 4, 5, 6, 6, 7, 7, 'a', 'b', 'a', 6, 7, 8]

In [ ]:
# extend() : Add the elements of a list (or any iterable) to the end of the current list
_list = [2,3,4,5,6,6,7,7,'a', 'b', 'a']
_x = [6,7,8]
_list.extend(_x)
print(_list)

[2, 3, 4, 5, 6, 6, 7, 7, 'a', 'b', 'a', 6, 7, 8]

In [ ]:
# insert() : Adds an element at the specified position insert(position, element)
_list = [2,3,4,5,6,6,7,7,'a', 'b', 'a']
_x = [6,7,8] # at 1st index
_list.insert(0,_x)
print(_list)
# Note: Multiple elements can be added at once.

[[6, 7, 8], 2, 3, 4, 5, 6, 6, 7, 7, 'a', 'b', 'a']

In [ ]:
#CRUD : Create, Read , Update & Delete
# List
# Create : Using []
# Read : len(), .count(),.index(), print(), type()
# Update : .append(), .extend(), .insert()
# Delete : .pop(), .remove(), del(), clear()

In [ ]:
print(_list)

[[6, 7, 8], 2, 3, 4, 5, 6, 6, 7, 7, 'a', 'b', 'a']

In [ ]:
# .pop() : Removes the element at the specified position (.pop(position) )
_list.pop(0) # Output as which element is removed and original list is updated

[6, 7, 8]

In [ ]:
print(_list)

[2, 3, 4, 5, 6, 6, 7, 7, 'a', 'b', 'a']

In [ ]:
# Note : if you don't specify the position then by default last element is removed
_list.pop() # Input is blank, by default last element

'a'

In [ ]:
print(_list)

[2, 3, 4, 5, 6, 6, 7, 7, 'a', 'b']

In [ ]:
# del() : Delete the variable itself

In [ ]:
# remove(): Removes the first item with the specified value
# Remove the element 5 from the list
_list.remove(5) # Here 5 as the value will be the input
print(_list)

[2, 3, 4, 6, 6, 7, 7, 'a', 'b']

In [ ]:
_list.remove(7)
print(_list)

[2, 3, 4, 6, 6, 'a', 'b']

In [ ]:
# Note : Remove the first occurance of any element.

In [ ]:
# .sort() : Sorts the list
_list = [45,32,12,40,67,54]
_list.sort()
print(_list) # My original list is sorted in ascending order
_list.sort(reverse = True)
print(_list)

[12, 32, 40, 45, 54, 67]
[67, 54, 45, 40, 32, 12]

In [ ]:
# sorted() vs .sort()
_list = [45,32,12,40,67,54]
print(sorted(_list))
print(_list) # Original list is not changing

[12, 32, 40, 45, 54, 67]
[45, 32, 12, 40, 67, 54]

In [ ]:
# _list2 = sorted(_list)

In [ ]:
_list = [45,32,12,40,67,54]
_list.sort() # No output rather changes the original list
print(_list)# Original list has changed

[12, 32, 40, 45, 54, 67]

In [ ]:
# clear(), copy()
# clear() : Removes all elements from the list
print(_list)

[12, 32, 40, 45, 54, 67]

In [ ]:
_list.clear()

In [ ]:
print(_list)

[]

In [ ]:
del _list

In [ ]:
print(_list)

NameError: name '_list' is not defined

In [ ]:
# .clear() vs del()
# .clear() : Remove all elements but variable is still present.
# del() : Deletes the variables itself.

In [ ]:
# .copy()
_list1 = ['a','b','c']
_list2 = _list1 # Deep Copy

In [ ]:
print(_list2)

['a', 'b', 'c']

In [ ]:
_list1.append('d')
print(_list1)

['a', 'b', 'c', 'd']

In [ ]:
print(_list2) # Ideally it should not change

['a', 'b', 'c', 'd']

In [ ]:
_list2.append('e')
print(_list2)

['a', 'b', 'c', 'd', 'e']

In [ ]:
print(_list1)

['a', 'b', 'c', 'd', 'e']

In [ ]:
# Python :
# Deep Copy and Shallow copy # No primitive Data types
# Directly = is used then same address of value is pointed by two variables
_list1 = ['a','b','c']
_list2 = _list1.copy() # Shallow Copy # Clone

In [ ]:
_list1.append('d')
print(_list1)

['a', 'b', 'c', 'd']

In [ ]:
print(_list2)

['a', 'b', 'c']

In [ ]:
_list2.append('e')

In [ ]:
print(_list1)

['a', 'b', 'c', 'd']

In [ ]:
# Identity operators | is , is not | Deep copy or shallow copy
_list1 = [3,4,5,6]
_list2 = _list1
print(_list2 is _list1) # Identity operator | Deep Copy

True

In [ ]:
_list1 = [3,4,5,6]
_list2 = _list1.copy()
print(_list2 is _list1) # Identity operator | Shallow Copy

False

In [ ]:
# is not :: Opposite of :: is

In [ ]:
# Dictionary :
#. keys(), .values(), .items()
_dict = {'a':1, 'b':2, 'c':3}
print(_dict.keys()) # List of keys
print(_dict.values()) # List of Values
print(_dict.items()) # List of keys & values as a tuple

dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])
dict_items([('a', 1), ('b', 2), ('c', 3)])

In [ ]:
# .update() : Multiple key & value update as once
# Add in the _dict : {'d':4, 'e':5}
_dict.update({'d':4, 'e':5})
print(_dict)
# Dictionary is mutable, directly original variable is updated

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [ ]:
# Another way of updating key & value pair  : One Key & Value update at a time
# Add in the _dict : {'f':6}
_dict['f'] = 6 # Add or update key & value pair | One key at a time
print(_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [ ]:
# pop() : Removes the element with the specified key
_dict.pop('f') #

6

In [ ]:
print(_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [ ]:
# del() : It can be used to delete the variable or delete specific key
del _dict['e'] # Delete the key & value pair
print(_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# .clear() : Remove all elements from the dict | Make it empty dict
# .copy() : used to create Shallow copy of dictionary

In [ ]:
# Set | Mutable
# .add() : Single Element
_set = {2,3,4}
_set.add(5)
print(_set) # original variable is updated.

{2, 3, 4, 5}

In [ ]:
# .update() : Multiple elements
_set.update({'a','b','c'}) # Multiple Elements can added (List of items or set of items)
print(_set)

{'a', 2, 3, 4, 5, 'b', 'c'}

In [ ]:
_set.update({'a','b','c','d'}) # Multiple Elements can added (List of items or set of items)
print(_set)

{'a', 2, 3, 4, 5, 'd', 'b', 'c'}

In [ ]:
# Note: In case of any duplicated value, it will ingore it.
# Set is unordered, don't worry about the sequence.

In [ ]:
# List, String & Tuple : it accepts duplicate values
# Dictionary : Keys must be unique but values can be duplicated
# Set : Values must be unique

In [ ]:
# union(), intersection(), difference()
_set1 = {3,4,5,6}
_set2 = {5,6,7,8}
print(_set1.union(_set2)) # {3,4,5,6,7,8} | Set Operator : |
print(_set1.intersection(_set2)) # {5,6} | Set Operator : &
print(_set1.difference(_set2)) # {3,4} | Set Operator : - # Output the element only present in _set1
print(_set2.difference(_set1)) # {7,8} | Set Operator : - # Output the element only present in _set2

{3, 4, 5, 6, 7, 8}
{5, 6}
{3, 4}
{8, 7}

In [ ]:
# symmetric_difference() : print all elements except the common elements | Set Operator : ^
print(_set1.symmetric_difference(_set2))# It removes the common element
print(_set2.symmetric_difference(_set1))

{3, 4, 7, 8}
{3, 4, 7, 8}

In [ ]:
# & , | & - to get the .symmetric_difference()
(_set1 | _set2) - (_set1 & _set2) # Symmetric Difference

{3, 4, 7, 8}

In [ ]:
_set1 ^ _set2 # Symmetric Difference

{3, 4, 7, 8}

In [ ]:
# Method vs Operator
# Union  (|)
# Intersection (&)
# Difference (-)
# Symmetric Difference (^)

In [ ]:
# .remove : it removes the specifed element
_set1 = {3,4,5,6}
_set1.remove(6) #
print(_set1)

{3, 4, 5}

In [ ]:
# clear() & .copy()